[2019-03-07 17:09] cakrit opened #1 "TODOS"
- [x] Update the default repo and release as soon as v1.13 is out (#5)
- [ ] Starting the master takes a while and upgrading brings it down. Check if and how we can upgrade more gracefully.
- ~~Package and share properly, e.g. as shown [here](https://medium.com/containerum/how-to-make-and-share-your-own-helm-package-50ae40f6c221)~~
- [x] See if and what needs to change so we can monitor applicatio

[2019-03-14 13:06] cakrit commented on #1
Probably #2 and #4 will be a bit more tricky.

[2019-03-15 11:48] cakrit commented on #1
@varyumin do you have any ideas about this one?

I started reading about what happens if we increase replicas to 2 in the statefulset, but I'm not sure it's suitable in this case, or at least I'm not sure of the other config changes we'd need to make...

[2019-03-15 13:58] cakrit commented on #1
https://github.com/helm/helm/issues/5451 opened for the fifth item.

[2019-03-15 14:15] varyumin commented on #1
Vladimir Ryumin:
#2 Yes I have ideas and yes we need to try set up replicaset =2. When we will update StatefulSet, Kubernetes turn off one old netdata-master pod(instance) and exclude from service balancer. After
ReplicationController will raise one new netdata-master pod(instance), include it in the service balancer and after that it will check readinessProbe for a new pod. . We have to set corre

[2019-03-15 14:24] varyumin commented on #1
#2 Do you know URL for netdata, which answer 200 if netdata is ready and healthy and 50x if unhealthy. i could set liveness and readiness prob

[2019-03-15 14:40] cakrit commented on #1
I've never received 50x from netdata, but you could use `http://[host]:19999/api/v1/info`

[2019-03-15 14:44] varyumin commented on #1
Thx. I will try today.

[2019-03-15 14:46] cakrit commented on #1
For the replica, the things we'll need to test are:
- We can't run into a scenario where both pods try to write to the db that's on the persistenvolume
- The slaves correctly point only to one master at any given time.

If we run into trouble, we could alternatively have both masters alive, with one replicating metrics to the other. It might be trickier. Let's see what you come up with first! :)

[2019-03-20 07:49] puneethpk opened #7 "Not able to install on Kubernetes Cluster"
Followed the exact procedure like you mentioned. The master and slave pods are up. But There are no logs within the pods and its not creating an ingress elb as expected.

[2019-03-20 11:35] cakrit commented on #7
To see logs, you need to execute `kubectl logs <pod name>`.

We don't have anything to load-balance (the UI is available on the single master), so we use ServiceType=ClusterIP. The `NOTE` after the installation says that you need to put an entry in `/etc/hosts` (for testing). What could we do differently to make it easier?

[2019-03-21 06:33] puneethpk commented on #7
The netdata master node logs are as given below:
2019-03-21 06:10:55: 289: 37 '[12.0.47.167]:50518' 'CONNECTED'
2019-03-21 06:10:55: 289: 37 '[12.0.47.167]:50518' 'DISCONNECTED'
2019-03-21 06:10:55: 289: 37 '[12.0.47.167]:50518' 'FILECOPY' (sent/all = 21348/133938 bytes -84%, prep/sent/total = 0.09/1.75/1.84 ms) 200 '/'
2019-03-21 06:11:04: 290: 30 '[12.0.47.167]:50616' 'CONNECTED'
2019-03-21 06:1

[2019-03-21 10:16] cakrit commented on #7
We'll rewrite the NOTES to make them more clear. Let's see what you get in each step below.

Step 1: Identify the IP that nginx listens to:
 - When no load balancer is available (e.g. with minikube), you get the IP shown on `kubectl cluster-info`
 - In a production environment, the command `kubectl get services` will show the IP under the EXTERNAL-IP column
Can you get the external IP with either

[2019-03-21 12:06] cakrit commented on #1
Fifth item done.

[2019-03-21 13:01] cakrit commented on #1
Based on the work on the configurations, packaging doesn't make sense at this point, so I removed the third item. Reasoning:
We have potentially complex configurations that will be simplified only with the addition of a feature in netdata cloud to apply configurations to slaves. We are also considering extensions to make it easy for netdata to use configuration management tools. I'm not sure how w

[2019-03-21 13:08] cakrit commented on #1
@varyumin, regarding the second replica and handling the persistent volumes, I read a [concerning article](https://elastisys.com/2018/09/18/sad-state-stateful-pods-kubernetes/) yesterday. What's your take on it? Could we run into trouble?

[2019-03-21 16:56] cakrit commented on #1
Regarding this:

We have two things we need to do, neither of which is related to the helm chart:
 - For collectors that get metrics via TCP, attempt autodiscovery of the the ip/port and allow specification of endpoints using labels.
 - For collectors that get metrics by reading files, we need to see how people would install netdata as a sidecar container in the same pod.

[2019-03-21 17:30] cakrit commented on #1
@varyumin if you don't have time for the replicas, can you point me to the right direction so I can give it a shot? I have planned to complete this work by next Wednesday.

[2019-03-22 07:30] puneethpk commented on #7
Step 1: We have an nginx Load balancer.
Step 2: hostname in values.yaml -->  netdata.k8s.local
Added <nginx-elb> netdata.k8s.local in the master pod of netdata at the location /etc/hosts
Is this what has to be done ?

The Kubernetes cluster is in a private subnet and running behind nginx reverse proxy. Could you please brief on setting up netdata for a cluster with this configuration?

[2019-03-22 10:25] cakrit commented on #7
Νο. Let's do the easiest thing first, so you can test. **On the machine you use to access the UI**, put
`<your nginx cluster's external IP> netdata.k8s.local`
If your nginx cluster responds to the standard http/https ports, you should then be able to go to `https//netdata.k8s.local`.

Of course, this is just so you can test. What you really want, is to remove the `/etc/hosts` entry and  either add

[2019-03-25 06:52] varyumin commented on #1
Hi, @cakrit ! I had some day-off and I was journeying.
About the second issue. I think a lot, maybe we need to change StatefulSet to Deployment and will start to use PersistentVolumes and PersistentVolumesClaim. And then we can use ReplicaSet 2 because  "volume"  will be shared or we can load metrics in MQ or DB. Can netdata load metrics from slave to MQ or DB?

[2019-03-25 06:59] varyumin commented on #1
If we can use a sidecar, at first we need to write mutating hook (https://medium.com/dowjones/how-did-that-sidecar-get-there-4dcd73f1a0a4) or controller

[2019-03-25 10:21] cakrit commented on #1
From the documentation I understood that it's only statefulsets that use persistent volumes. Do you have a reference for using persistent volumes with daemonsets?

No, this would be problematic. There's an assumption that each netdata instance maintains its own DB and its the only one writing to it. Our metrics DB is internal and we're building a new one to solve some issues we have.

It looks lik

[2019-03-25 10:22] cakrit commented on #1
Oh, I don't know if you noticed, but I did put a `preStop` check on the master, to ensure it has shut down before the pod is removed, so that we know the metrics have been written to the persistent volume.

[2019-04-02 11:14] cakrit commented on #7
@puneethpk were you able to do it? Need any more help?

[2019-04-02 11:16] cakrit opened #12 "Slave pods should use persistent identifiers per node"
I just noticed in `/var/cache/netdata` that we lose the history of each slave node when we do a `helm upgrade`. This certainly has to do with the way the slaves identify themselves to the master and we need to fix it.

[2019-04-02 11:39] cakrit commented on #12
What we need is to be able to place a `/var/lib/netdata/registry/netdata.public.unique.id` file containing a GUID that will always be the same for a particular node. Not trivial, will need to think about it.

[2019-04-02 11:54] cakrit commented on #12
Ok, so I'm thinking of adding a `preStart` command, something like this:

[code]
But we'd need to add `uuidgen` to our Docker image.
cc: @paulkatsoulakis

[2019-04-05 15:18] cakrit commented on #7
Closing, please let us know if we can help any more.

[2019-04-05 15:18] #7 closed

[2019-04-05 15:44] cakrit commented on #1
I'm leaving the timing issue and closing this one. Now that the slaves have a liveness probe, they also take ~1m to come down and up, so this time seems to be necessary. We can revisit in the future if needed.

[2019-04-05 15:44] #1 closed

[2019-04-07 09:02] #12 closed

[2019-04-07 14:34] eranchetz opened #14 "Stateful set requires serviceName to work"
Trying to deploy I am getting the following error:

[code]

According to the [spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#statefulsetspec-v1-apps) this field is missing from the helm chart template.

[2019-04-08 08:11] cakrit commented on #14
Hi @eranchetz, thanks for this.
I'll try adding it to see what happens. I should say though that I haven't tried using the config files individually with kubectl, I just let helm do its magic.

[2019-04-08 08:21] cakrit commented on #14
The fix is in #15. I didn't see any problems in my tests. Can you check it? I'll also wait for @varyumin 's review to merge.

[2019-04-08 13:22] #14 closed

[2019-04-09 09:31] cakrit opened #16 "Make slaves run in memory mode NONE"
Now that https://github.com/netdata/netdata/pull/5819 has been merged, we can have the liveness probe working even with the agents in memory mode None. We'll need to wait until we have an official release that contains the change in that PR (probably netdata v1.14), but creating this to keep in the TODOs.

[2019-04-11 07:26] PhilsLab opened #17 "Provide persistence option in values.yml"
There should be an option to create no persistent storage at all, e.g. when using the master instance for prometheus scraping only.

[2019-04-12 07:26] cakrit commented on #17
`memory mode = ram`
https://docs.netdata.cloud/database/#memory-modes

Please reopen if you are facing problems with it.

[2019-04-12 10:23] PhilsLab commented on #17
This is what I am referring to. The helm chart creates two persistent volume claims here:
templates/statefulset.yaml#L14

There should be an option to disable the creation of those two PVCs, so the containers can be fully stateless if desired.

[2019-04-13 08:01] cakrit commented on #17
Ok, I get what you're saying. We'll make it optional.

[2019-04-29 13:53] karuppiah7890 commented on #17
@cakrit I'm interested to contribute to this! Let me know if you will be willing to guide and accept the PR. I can read about the memory modes and then we can discuss when the volumes needn't be created and not mounted too if they don't exist

[2019-04-29 14:45] cakrit commented on #17
Sure! I was actually just going to make the section under https://github.com/netdata/helmchart/blob/master/templates/statefulset.yaml#L14 and the section under https://github.com/netdata/helmchart/blob/master/templates/daemonset.yaml#L90 controlled by a single config parameter in `values.yaml`. e.g. something like this in `values.yaml`:
[code]
Then based on `master.persistentVolumes.enabled` we'd

[2019-04-29 17:31] karuppiah7890 commented on #17
Umm, when I said

I meant not using any mounts if we don't have any PVs 🙈 And I really have to read the chart completely to understand more. To fix this issue, the enabling and disabling option looks cool 👍 And we can probably add the feature of using an existing PV later I guess, if it's needed.

And about the above solution, we are controlling the creation of PVs for database and alarms together

[2019-04-29 18:16] cakrit commented on #17
Excellent idea, sure. Much better this way.

[2019-04-29 18:48] karuppiah7890 commented on #17
I'll make the changes then? Will ping here if I have doubts

[2019-04-29 18:50] cakrit commented on #16
Something is wrong with the liveness probe. I did an upgrade and two of the three slaves I have

[code]
After that, netdata exited. It looks like something went wrong with the preStart command that creates this file, probably a race condition. When I deleted the pod and it was recreated, it worked fine.

I'll try to replicate the issue with preStart, but the worrisome thing is that the two problem

[2019-04-29 18:50] cakrit commented on #17
Definitely, have fun! :)

[2019-04-30 18:22] cakrit commented on #16
I saw that we didn't have readiness/liveness probes in the daemonset (no web server running anyway), so I added them. It takes much longer for the slaves to show up as ready now, but I expect it to work better.

[2019-04-30 18:27] cakrit opened #20 "One and only one netdata instance should always run on each pod"
I saw a case with no netdata running on a slave (crash related to preStart apparently not creating the GUID on time) and another case with two netdata running (no idea how that beauty happened). I hope that the slave liveness/readiness probes in PR #19 will resolve these issues, but I need to run some tests to make sure it doesn't happen again.

[2019-05-01 09:12] cakrit opened #21 "Add parameters to values.yaml to enable k8s monitoring"
netdata v1.14 has [coredns](https://docs.netdata.cloud/collectors/go.d.plugin/modules/coredns/), [kubeproxy](https://docs.netdata.cloud/collectors/go.d.plugin/modules/k8s_kubeproxy/) and [kubelet](https://docs.netdata.cloud/collectors/go.d.plugin/modules/k8s_kubelet/) collectors.
We need to make enabling them via the helm chart much easier, i.e. add the config files for them and probably provide d

[2019-05-02 09:31] #16 closed

[2019-05-16 15:22] cakrit commented on #17
Hi @karuppiah7890 , just a ping to check if you're still able to progress this.

[2019-05-16 16:01] karuppiah7890 commented on #17
sorry. been caught up with too many things. will be checking it out this weekend!

[2019-05-16 16:27] karuppiah7890 commented on #17
How does this values look?

[code]

or should we keep it as

[code]

The above two options won't break the existing chart users, which is good, or else we will have to bump up major version change. Or is it still not production ready, seeing that it's having the `0.0.x` and breaking changes are allowed? If it's allowed, I also though of this one (just putting related things together):

[code]

But

[2019-05-16 16:40] cakrit commented on #20
It looks like for some reason, one of the slave pods shows the master netdata as well. I get that they are both running on the same node, I just didn't expect to see it there. I am closing this, because it doesn't look like an issue and I don't know how to investigate further.

[2019-05-16 16:40] #20 closed

[2019-05-16 16:59] cakrit commented on #17
First option is fine, even though the last one is more correct.
To tell you the truth, I'm not sure yet how many people are using this helmchart, I'll need to spend some time with GA so see at least who accesses the README. But we have at netdata a tradition of not making breaking changes.

After we merge your change, I will change the netdata tag to 1.15.0 (planned to be released tomorrow) and ge

[2019-05-17 01:00] karuppiah7890 commented on #17
So, which change should I make? The breaking change?

Also, before releasing 1.0.0 let's also add apiVersion in the Chart.yaml as
it's a required field in helm 3.0 and also fix the maintainer field to
"maintainers" array. Noticed these two yesterday

On Thu, May 16, 2019, 10:29 PM Chris Akritidis <notifications@github.com>
wrote:

[2019-05-17 11:34] cakrit commented on #17
No, let's go with your first suggestion.

Sure, put that in your PR as well (not really sure what it is to tell you the truth).

[2019-05-17 11:35] #21 closed

[2019-05-18 02:58] karuppiah7890 opened #25 "env field at wrong position in DaemonSet and StatefulSet"
Using the latest version v2.14 of helm, which has manifest validation feature, installation will lead to this error:

[code]

on fixing daemonset, it tells about statefulset error too

[code]

I will push a fix for this when I raise a PR for #17 😄

Also, extra info - there's a bug in 2.14 which doesn't allow upgrading releases which have bad manifests (like this one, with env in wrong position) ev

[2019-05-18 15:16] cakrit opened #27 "RFC: Should we move this to https://github.com/helm/charts?"
From what I know...

Pros:
 - Get feedback from the helm/charts maintainers to make improvements
 - More exposure & possibly more contributors

Cons:
 - Lose control of the process. We'll be depending on the helm/charts maintainers for merges
 - Any issues on this helm chart will be "lost" amongst irrelevant issues other charts there and on helm itself.

What do you think?

[2019-05-18 15:17] #17 closed

[2019-05-18 15:17] #25 closed

[2019-05-20 10:47] kareem-elsayed commented on #27
One of the biggest issue to move to helm/charts this point.
I think we can keep it for now here once the chart becomes more stable we can then move to helm/charts

[2019-05-21 15:56] cakrit commented on #27
Leaving it here for now.

[2019-05-21 15:56] #27 closed

[2019-05-22 07:14] cakrit opened #32 "Improved NOTES.txt"
The instructions we give after installation can probably be smarter. I didn't know almost anything about k8s when I made changes on top of what @varyumin had written and I'm still not aware of the various set-ups people may have out there. If anyone has a better example to provide, or help improve this, I'd appreciate it

[2019-06-14 02:27] josecv opened #33 "No way to add custom annotations and labels to pods"
It would be cool to be able to annotate/label the netdata pods with custom annotations and labels. One thing that comes to mind, for example, is using annotations to make a [prometheus](https://prometheus.io/) server scrape netdata.

One way this could be done is to have `master.podLabels`, `master.podAnnotations`, `slave.podLabels` and `slave.podAnnotations` available in `values.yaml`. This would

[2019-06-14 10:45] cakrit commented on #33
Sounds great, I just don't get how exactly it would work. All I have to go on is https://docs.netdata.cloud/backends/prometheus/ which shows labels only in the prometheus configuration itself and I haven't worked with Prometheus myself. If I'm not mistaken, shouldn't netdata be modified to add those labels and annotations to the responses to the prometheus requests? e.g. to what you get from http:

[2019-06-14 16:55] josecv commented on #33
Oh I'm thinking in terms of kubernetes [annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/) and [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/) as opposed to metric labels. These are generic pieces of metadata that go on the pods, and can be consumed by different applications on the cluster.

The prometheus example has to

[2019-06-16 09:51] MOZGIII opened #35 "Allow customizing volume type"
My cluster only provide block PVs, can you allow using Block volume types?

[2019-06-16 10:22] karuppiah7890 commented on #35
I was just checking what block volume means. Are you talking about `volumeMode: Block` ?

[2019-06-16 10:26] MOZGIII commented on #35
Yes.

[2019-06-16 10:29] MOZGIII commented on #35
Here's a link to the documentation: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#raw-block-volume-support

[2019-06-16 10:31] MOZGIII commented on #35
Actually, it might be a bit too difficult to support - I think there should be an intermediary in my cluster that claims `Block` volumes and provides `Filesystem` volumes instead... Yeah, that would be much better architecturally.

[2019-06-16 10:31] #35 closed

[2019-06-16 11:11] MOZGIII commented on #35
It's easy to pass the value, however I'm not sure if the pod will be able to utilize the block volume. Block volumes presented as raw devices, and, as I understand, to use it for netdata's data, the pod will have to properly format and mount it. I don't think it should be solved at the level of this chart.

[2019-06-16 11:12] karuppiah7890 commented on #35
Ah okay! 👍

[2019-06-17 15:24] #33 closed

[2019-06-19 15:53] andrebeltrami opened #36 "Doubt Regarding the Deployment."
Hi all,
I have an issue trying to do this Netdata Deployment. Please if anyone can help me, I really appreciated.

I run `helm install --name my-release ./netdata`. However, the netdata-master pod stays with pending status.

In the describe pods command, I can see this message.
"pod has unbound immediate PersistentVolumeClaims"

I access the Netdata dashboard from the slaves, but the dashboard fro

[2019-06-19 19:38] cakrit commented on #36
Oh boy, are you using Google Cloud by any chance? I had spent half a day troubleshooting when this happened to me. Because I'm a newbie, I think that at the end I ended up deleting and recreating the storage I had set up on the Cloud Console. I hope some of the more seasoned people in this forum can provide a better solution.

We do have the workaround of disabling persistent storage completely:
`

[2019-06-20 03:31] andrebeltrami commented on #36
Hi @cakrit,
I don't use the Google Cloud. I will try to deploy the most simple environment, with netdata collecting the physical resources from Kubernetes Master and Slaves.

I deactivate the persistent storage as you said, Thank you! The pods are started successfully but I don't see the metrics being collected. I cannot access the Master Netdata Dashboard. I attached the describe pods for the Mas

[2019-06-20 07:45] cakrit commented on #36
Check the [notes](https://github.com/netdata/helmchart/blob/master/templates/NOTES.txt) shown after the installation to see how you'll be able to access the UI via the nginx proxy. They are not great, I've requested some help in #32.

Marking this as a bug with help wanted as well, for the original issue of the unbound volume claims.

[2019-06-20 12:46] andrebeltrami commented on #36
If I run `kubectl get services`. I have only two services, one for kubernetes and another one for netdata. I don't have the Nginx service. It's installed automatically via the helm netdata, or I need to configure it separated?

After the helm netdata start, the output brings the notes that you said and these resources description:
I suppose it's necessary the nginx proxy or the v1beta1/Ingress is

[2019-06-20 17:17] cakrit commented on #36
With minikube I was able to connect directly, but on Google cloud I just had to use the nginx ingress. The helm install command in the readme is supposed to install the nginx-ingress for you as well. Can you delete it, install it again and see the output helm? It looks like something didn't go well.

[2019-06-21 17:13] andrebeltrami commented on #36
Hi guys,
I tried to delete @cakrit, but the result is always the same.

NAME:   my-release
LAST DEPLOYED: Fri Jun 21 16:47:30 2019
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1/ClusterRole
NAME                AGE
my-release-netdata  0s

==> v1/ClusterRoleBinding
NAME                AGE
my-release-netdata  0s

==> v1/ConfigMap
NAME                 DATA  AGE
netdata-conf-master  3     0s
ne

[2019-06-23 15:15] cakrit commented on #36
Hm... do this please:
`helm install stable/nginx-ingress`

I'll read up on the dependencies and what's supposed to happen. Maybe it's a step that we implied and we shouldn't have...

[2019-06-23 15:20] cakrit commented on #36
Gents, it looks like we need a `requirements.yaml` with the `nginx-ingress` in it: https://github.com/helm/helm/blob/master/docs/helm/helm_dependency.md

I'll see if I can get to it soon, it should be a very easy PR for anyone who wants to hep.

[2019-06-25 03:07] josecv commented on #32
I think the [lamp](https://github.com/helm/charts/blob/61ce4c33c410f6a4f73713680885a20ac24e9be9/stable/lamp/templates/NOTES.txt#L5) chart is a good example of how you might want to give connection instructions. In particular, it instructs the user to go through the ingress controller (and create necessary DNS records) if they've configured one, or go through the LoadBalancer if the service is conf

[2019-06-25 03:13] josecv commented on #36
FWIW I don't think most charts that have ingresses (e.g. [sonarqube](https://github.com/helm/charts/tree/master/stable/sonarqube), [lamp](https://github.com/helm/charts/tree/master/stable/lamp) or [concourse](https://github.com/helm/charts/tree/master/stable/concourse)) set up an explicit dependency to `nginx-ingress`. Probably this is because most users expect to manage the ingress controller as

[2019-06-25 11:33] cakrit commented on #32
There are if/then/else statements in the NOTES.txt, depending on `Values.ingress.enabled` and `Values.service.type`. The default is supposedly Ingress Controller + ClusterIP as you said, but it looks to me like the if/then/else doesn't cover the cases we have appropriately. Furthermore, we say absolutely nothing regarding the available options on the README.

Now, I can go ahead and do tests on al

[2019-06-25 11:34] cakrit commented on #36
We will continue this in #32, because it's linked to the lack of proper documentation / instructions on how to access the master node.

[2019-06-25 11:34] #36 closed

[2019-06-25 14:25] varyumin commented on #36
Can  I see render templates `helm template --name my-release ./netdata`? I don't think `netdata` must depend on ingress-controller.
On the first. You can turn off ingress-controller ` .ingress.enabled=false` and use `NodePort` `.service.type=NodePort` (https://kubernetes.io/docs/concepts/services-networking/service/#nodeport ) `the Kubernetes control plane will allocate a port from a range specifi

[2019-06-25 14:58] varyumin commented on #32
I don't think netdata must depend on ingress-controller.
On the first. You can turn off ingress-controller .ingress.enabled=false and use NodePort .service.type=NodePort (https://kubernetes.io/docs/concepts/services-networking/service/#nodeport ) the Kubernetes control plane will allocate a port from a range specified by --service-node-port-range flag (default: 30000-32767)
On the second. If you h

[2019-08-09 15:06] joell opened #40 "Apparmor annotation still not taking affect"
https://github.com/netdata/helmchart/blob/c0fa186ddcbd9be488309dbffb85d9f57b521ab8/templates/daemonset.yaml#L20

This annotation did not take affect in my case.  First off, it seems that the second `annotations` clause for `checksum/config` on line 28 below seems to stomp over the apparmor annotation.

After merging the two `annotations` clauses, I then got errors from K8S because the annotation r

[2019-08-09 16:48] cakrit commented on #40
@josecv and @charlieegan3 any comments on this? Should we do another PR to make the changes above?

[2019-08-09 17:29] josecv commented on #40
@cakrit yup, with some minor adjustments -- basically the `with .Values.slave.podAnnotations` needs to be moved to be under checksum/config so that all annotations get merged together:

[code]

I'd also recommend having a way to turn off the appArmor annotation btw

[2019-08-09 17:56] cakrit commented on #40
Feel free to make a PR gents. I'll be pretty swamped for the next week or two. Will try it if no one else has a go in the meantime.

[2019-08-09 20:13] charlieegan3 commented on #40
I've had a go at implementing this here: https://github.com/netdata/helmchart/pull/41

[2019-08-09 20:34] joell commented on #40
I've commented on #41 but will here as well: The container name in the apparmor annotation still needs to be changed from `netdata-slave`.

[2019-08-12 09:47] #40 closed

[2019-09-03 15:39] cakrit opened #42 "We're hiring!"
We're looking for a couple of DevOps/SREs with k8s expertise.
Check out the [job post](https://netdata.recruitee.com/o/senior-site-reliability-devops-engineer) and apply!

[2019-09-08 02:53] happysalada opened #43 "can't create /tmp/as.log: Permission denied"
master node goes into CrashLoopBackOff
Here are the logs
[code]

I'm using two volumes with access mode ReadWriteOnce with rook and ceph fs
Should I have used ReadWriteMany?

[2019-09-08 10:58] paulkatsoulakis commented on #43
Hello @happysalada, thanks for reaching out!

If i would put my 2c on this, i would carefully read the access modes usage here: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes and then re-validate the set up.

In case you can't figure it out with this information, we will need more details regarding your set up so that we can try to reproduce your use case further and

[2019-09-08 20:48] happysalada commented on #43
yeah my bad for the too sparse info.
I'm running kubernetes 1.15.3 on baremetal with flannel networking
using rook ceph fs storage
storage.yaml
[code]

I create two persistent volumes
pv-alarms.yaml
[code]
pv-database.yaml
[code]

I then install the operator with  the following values.yaml file
[code]

(it's the default file except, I have tried disabling the healthcheck to see what was wrong. and

[2019-09-09 08:39] cakrit commented on #43
PR #6491 in 1.17.0 fixes this. I updated the Helm Chart in https://github.com/netdata/helmchart/pull/44
Please verify and close.

[2019-09-09 18:43] happysalada commented on #43
@cakrit what about the values.yml file in the chart?
That file still says tag: v1.15.0
I can update the value I use, but shouldn't the default be updated as well?

[2019-09-09 19:08] happysalada commented on #43
with 1.17 I don't get the same problem, closing this issue

[2019-09-09 19:08] #43 closed

[2019-09-09 19:12] happysalada opened #45 "cnnot open the file /var/lib/netdata/health.silencers.json"
With netdata 1.17 I get a new issue on master
[code]

Here is my values.yml (I have just updated the image tag, and the storage class for the volumes)

[code]

I'm using rook and cephfs for the volumes, let me know if you want the details.

[2019-09-11 09:06] cakrit commented on #45
I just can't replicate this. I see the following dirs and permissions on my master:

[code]

What do you see?

[2019-09-11 11:52] cakrit commented on #43
Thanks @happysalada, I had forgotten to update the tag, which is the imporant field. I merged a PR this morning to fix that.

[2019-09-11 18:55] happysalada commented on #45
the node goes into crashloopbackoff
I can't get a shell to it.
Here are some more logs that I collected (including info level this time)
[code]

I'm don't know how to get a shell to a crashed pod, is there a way?

[2019-09-11 23:45] happysalada commented on #45
ok it was the storage class. I have the pod running, I'll check the rest later, but I'm sure it will be fine.

Thanks for the quick response and sorry for wasting your time!

[2019-09-14 00:55] happysalada opened #48 "logs are show quite a lot of errors"
the logs show quite a lot of errors. I'm wondering if this is normal or if I setup something wrong

[code]

I'm using the following values for the chart
[code]

I'm using the latest version of the chart.

Finally, let me know if that's not the right place to post this issue.

[2019-09-15 12:28] cakrit commented on #48
This is the correct place to post it. I wonder, where is this `f357.fuchsia.servdiscount-customer.com` hostname coming from? Do all of your slave pods get this hostname? If they do, then the master thinks that all the metrics are coming from the same slave, which won't work. In `netdata.conf` under `[global]` there's a `hostname` setting that you could use to override the default, putting there so

[2019-09-16 23:14] happysalada commented on #48
Thanks for the quick response on this. I should get time to investigate this next week. I'll update as soon as I can.

[2019-09-23 12:12] varyumin commented on #42
+ done

[2019-09-30 06:18] happysalada commented on #48
I'm running on bare metal, and on the cheap server I had, the hostname was already assigned.  This is where the `f357...` is coming from.
I was running on one single node (master and slave on that node) just for testing purposes.
I pulled the latest master and can confirm that I'm not getting these errors anymore. Whatever it was, it seems fixed.

[2019-09-30 06:18] #48 closed

[2019-09-30 06:22] happysalada opened #49 "kubernetes 1.16.0 compatibility"
trying to deploy the helm chart with kubernetes 1.16.0, I get the following error
`Error: validation failed: unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2"`

Changing the api from apps/v1beta2 to apps/v1 in statefulset.yaml fixes it.
Let me know if you want me to make a PR.

[2019-09-30 09:37] cakrit commented on #49
Based on this, I saw that `apiVersion` is a mess in our helmchart:

[code]

I don't know enough to understand how many different settings we need, but it looks like we should have all the necessary values in `values.yaml` and document them on the README. Is it something you'd be willing to do @happysalada ?

[2019-09-30 10:54] happysalada commented on #49
it looks like from the [deprecation notice](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/)
that ingress.yaml api version should be replaced with
`networking.k8s.io/v1`
and that statefulset.yaml api version should be replaced with
`apps/v1`
the minimum kubernetes version supported should be updated to 1.9.

making it configurable would be to support kubernetes 1.8. Do you guys hav

[2019-09-30 12:00] cakrit commented on #49
The key thing here is that people shouldn't have to pass an entire config file to override something that may be different from one user's environment to another. So making the `apiVersion` configurable seems like a one-way street to me but again, I'm no expert. Let's see if we get any more comments here in the next few days.

[2019-10-31 10:28] dylanyht opened #55 "Deployment error on Kubernetes"
Error is as follows

Netdata entrypoint script starting
2019-10-31 09:32:00: netdata ERROR : MAIN : Ignoring host prefix '/host': path '/host' failed to stat() (errno 2, No such file or directory)
2019-10-31 09:32:00: netdata INFO  : MAIN : SIGNAL: Enabling reaper
2019-10-31 09:32:00: netdata INFO  : MAIN : process tracking enabled.
2019-10-31 09:32:00: netdata ERROR : MAIN : LISTENER: Invalid lis

[2019-10-31 10:51] dylanyht commented on #45
I have encountered the same problem. Could you please tell me how to solve it? Why is there no solution?

[2019-11-01 01:15] cakrit commented on #55
I've never seen this before, the errors indicate that you're missing entire directories here. @knatsakis or @cosmix do you have any ideas?

[2019-11-01 17:05] cakrit commented on #45
@happysalada said it was the storage class, so I expect he had to modify the value `master.alarms.storageclass` from the default `standard` to what he's using.

[2019-11-01 17:06] cakrit commented on #45
I reopened it, so you can verify it works for you too. If this is a common problem, perhaps we should disable persistence by default (i.e. set `master.database.persistence` to `false` in `values.yaml`)

[2019-11-01 17:10] cakrit commented on #55
@dylanyht I didn't think of the storage class until I saw your comment on issue #45. Please let me know if the suggestion at https://github.com/netdata/helmchart/issues/45#issuecomment-548869435 solves it. If yours is a different problem, then we can track it here.

[2019-11-03 20:30] cakrit commented on #55
@dylanyht I just merged #58, which should be a permanent fix. Can you please verify that  it works OOB with chart version 1.1.10?

[2019-11-03 20:32] cakrit commented on #45
@ktsakalozos gave a much better solution at #58, which should fix this. Waiting for feedback that it works with chart version 1.1.10.

[2019-11-06 06:50] dylanyht commented on #55
@cakrit I found that it should be caused by the user mismatch of the file of the storage class, and I solved this problem. Thank you very much for your reply

[2019-11-06 06:50] #55 closed

[2019-11-06 23:53] masterkain commented on #45
[code]

I keep getting

[code]

on the slaves and the pods won't start.

[2019-11-07 00:55] cakrit commented on #45
If you're getting these errors from the slaves, then the master db and alarms persistent volume configs are irrelevant.
There's something that prevents the netdata user on your slaves from writing to /var/lib/netdata/registry.

I checked some things and I do see something that's not right, the file containing the GUID in the slaves was somehow created by root! The master and any normal installatio

[2019-11-07 00:58] cakrit commented on #45
On the master, owned by user netdata

[code]

On the slave, owned by root!

[code]

But the `netdata` process properly runs on the slave as `netdata`:

[code]

[2019-11-07 01:16] cakrit commented on #45
Ok, so I see the issue, writing here for me to clear it in my mind and for you to validate the solution:

https://github.com/netdata/helmchart/blob/master/templates/daemonset.yaml#L70

[code]
What this is supposed to do is to cheat a bit, so that new pods can get the same MACHINE_GUID as older pods, running on the same node. It's not at all important that they do so, it was meant to help the netda

[2019-11-07 01:25] cakrit commented on #45
I remembered why I needed that persistent machine GUID. Without it, the master database engine will create new DB files for those pods. So every time you restart a pod, you will lose all the history. That's no good. So I will try to find another way to fix this.

[2019-11-07 02:05] cakrit commented on #45
There's no easy way to do this, UUIDs are supposed to be unique. I'm removing them and we'll need to find some other way for the masters' database to keep those pods' long-term history in the same db instance, even after a restart.

[2019-11-07 02:11] cakrit commented on #45
PR with the fix merged @masterkain, please test.
I would also like to hear from @dylanyht regarding the other issue, so we can close this one.

[2019-11-07 02:14] cakrit commented on #49
This was fixed by #57 and we just increased the minimum required version in README.md to be consistent with the first appearance of statefulset in api/v1.

[2019-11-07 02:14] #49 closed

[2019-11-07 02:14] cakrit commented on #42
We're still hiring, but I'm closing the issue, it's been around long enough! :)

[2019-11-07 02:14] #42 closed

[2019-11-07 03:36] cakrit opened #61 "RFC: Long-term metrics storage. Move to only Statefulset?"
I'd love to find a way to persist at least `/var/lib/netdata/registry/netdata.public.unique.id`, in order to allow long-term retention of the metrics collected from each node, regardless of pod restarts. That file contains the MACHINE_GUID and previous efforts to keep it the same have failed.

If I read https://github.com/kubernetes/kubernetes/issues/78902 correctly, with daemonset we're stuck at

[2019-11-07 05:03] josecv commented on #61
hrmm here's my hot take from my experience with k8s -- maybe others will disagree :)

imho this does not feel like a natural fit for a statefulset, nor have i seen this done with a statefulset in the past. Guaranteeing a pod running on each node while using a statefulset is really not ergonomic. You're trying to

a) use affinity rules to ensure that no two pods _ever_ end up on the same node,

b)

[2019-11-07 09:36] masterkain commented on #45
thanks @cakrit seems to be up and running

I have one last question if I may: I'm trying to run netdata in a linkerd-enabled namespace and although the master seems to pick up the mesh extra containers the slaves won't, how is that?

master
![Screenshot 2019-11-07 at 10 35 42](https://user-images.githubusercontent.com/12844/68377308-63b16800-014a-11ea-9849-8fc14ab53a0e.png)

slave
![Screenshot 201

[2019-11-07 22:04] cakrit opened #62 "linkerd-enabled namespace extra containers"
: I'm trying to run netdata in a linkerd-enabled namespace and although the master picks up the mesh extra containers the slaves won't, how is that?

master
![Screenshot 2019-11-07 at 10 35 42](https://user-images.githubusercontent.com/12844/68377308-63b16800-014a-11ea-9849-8fc14ab53a0e.png)

slave
![Screenshot 2019-11-07 at 10 35 49](https://user-images.githubusercontent.com/12844/68377306-63b168

[2019-11-07 22:05] cakrit commented on #45
I moved the last one to #45. I'll close this issue now and if there's another comment from @dylanyht we can reopen.

[2019-11-07 22:05] #45 closed

[2019-11-07 22:23] cakrit commented on #62
@masterkain you put a lot of unknown to me words in this one, so I'll ask for your patience to understand better what you mean. When you say 'the master picks up the mesh extra containers', what do you mean and how can I get what you show in your images?

I will throw the guess that you're not seeing what you expect, because the slaves don't provide the 'service', we could even disable the web ser

[2019-11-07 22:39] cakrit commented on #61
This is awesome @josecv , I had never heard of init containers and it looks like the 2nd option would indeed be really good. The thing that bugs me about #4 is that I don't want netdata *writing* anything on the host. Not sure what type of permissions we have on that socket today tbh, but we definitely don't write anything and never should.

We do have to figure out how we can get a predictable UU

[2019-11-07 22:59] cakrit commented on #61
One sec though, the 4th option could work without netdata having to write anything. If as an admin I have access to the node's filesystem, I can just put a `netdata.public.unique.id` with a UUID somewhere on the node, we mount that directory and allow netdata only read access to it. Right? I suppose that the init container could do the same, just look for a specific file that contains the UUID  on

[2019-11-08 11:10] masterkain commented on #62
hello @cakrit no worries mine was just curiosity, I don't believe it might be strictly necessary to have the slaves in a mesh.

linkerd is an app mesh that injects proxy sidecars onto your pods.
it is possible for linkerd to apply automatically such proxy (for observability, etc.) if there's the special annotation on the pod namespace.

in my case I have netdata installed in the `netdata` namespac

[2019-11-08 18:35] cakrit commented on #62
Ok then, closing and please comment if you need anything else. "not seeing all the requirements it needs to inject" may be related to what I wrote about the ingress, not sure.

[2019-11-08 18:35] #62 closed

[2019-11-09 03:12] josecv commented on #61
Hmm you're right that an administrator could easily write the uuid, then netdata just reads it. I guess that has a similar disadvantage as the statefulset though, in that it requires user intervention when a new node is added. On the other hand, I guess astute users could easily write things like cloud init scripts that generate the uuid automagically, but that will not be the same for every clust

[2019-11-11 21:23] josecv commented on #61
hmm i guess there's another option which is to leverage the existing uid on the node k8s object.

All kubernetes objects already have a UUID -- it's under `metadata.uid`. So if you had an init container with permissions to _read_ from the kubernetes api, this init container could basically just `kubectl get node $THE_NODE_IM_ON -o jsonpath='{.metadata.uid}' > netdata.public.unique.id`. This would

[2019-11-12 05:23] cakrit commented on #61
Very interesting idea! I will check next week, I'm in a week long meetup.

[2019-12-08 07:08] masterkain opened #64 "netdata with efs provisioner"
I know that others had this issue:

[code]

but I can't solve it, trying to use efs-provisioner, PVCs are created fine so I'm not sure the storageclass is the issue.

my helm release file:

[code]

[2019-12-08 07:28] masterkain commented on #64
tried with all chart defaults (gp2 mode) and it worked, so it must be something with efs. I'm not even sure it makes sense to use efs in this case, I did because of some complaint by cluster node autoresizers, but all should be fine now.

[2019-12-08 07:28] #64 closed

[2019-12-17 23:35] bitva77 opened #66 "CoreDNS URL"
I believe the CoreDNS URL should be set to

`- url: http://kube-dns.kube-system.svc.cluster.local:9153/metrics`

It's currently set to localhost in the default configmap but I think the service URL should be used instead.  At least in my kubeadm setup, port 9153 isn't exposed locally but rather via the service URL.

Only possible downside is that every netdata slave will be querying the same metri

[2019-12-18 09:05] ilyam8 commented on #66
Isn't this related to data collection?

https://github.com/netdata/go.d.plugin/blob/94156e5061d02407628689e79817a7f8489e242b/config/go.d/coredns.conf#L183-L184

[2019-12-20 17:58] bitva77 commented on #66
I think the Helm chart values.yaml file needs to be updated as well though:

[code]

unless I'm misunderstanding something :)

[2019-12-20 19:06] ilyam8 commented on #66
Man, you are right. I didnt know that `go.d.plugin` doesnt use [stock configs](https://github.com/netdata/go.d.plugin/tree/master/config/go.d)

https://github.com/netdata/helmchart/blob/dc7a3523bb172f4e9da1d4f15449a4c1e53f5cdc/values.yaml#L177-L192

[2019-12-20 19:24] ilyam8 commented on #66
@bitva77 #68

[2019-12-20 19:30] bitva77 commented on #66
rad!  thanks!

[2019-12-31 23:54] #66 closed

[2020-01-21 17:00] cakrit commented on #61
Finally got some time to look into this. We can definitely use `.metadata.uid` and our helmchart already includes the required access.

We'll need to either extend https://github.com/netdata/netdata/blob/master/daemon/get-kubernetes-labels.sh.in, or add a new script, just to retrieve the node UUID. The netdata daemon will also need to be extended.

[2020-01-21 20:16] varyumin commented on #61
I will be able to rewrite this bash script to Golang with SDK Kubernetes
client and write Dockerfile and extend it

вт, 21 янв. 2020 г. в 20:00, Chris Akritidis <notifications@github.com>:

[2020-02-11 15:25] cakrit opened #72 "Add our chart to the official charts repo"
https://github.com/helm/charts has lists of Helm charts in various maturity levels. There are specific criteria that need to met, I think we meet all or most of them already. I would do a PR to that repo, as we do for DigitalOcean and update it whenever this chart changes.

[2020-02-11 15:26] cakrit commented on #72
Motivation for this: More exposure for netdata.

[2020-02-11 20:16] ncmans commented on #72
@Ferroin @prologic is this for you guys?

[2020-02-12 00:50] prologic commented on #72
Yeap we'll do i!

[2020-02-17 14:16] varyumin commented on #61
I wrote code on GOlang, I need a few time  to review on best practice  and after review, I will upload code to my repo a sent  URL to my repo

[2020-02-28 07:32] hazcod opened #74 "Make GitHub repo directly useable from Helm"
Hi,
Until this is added to the official helm packages, it might be nice to have the helm Chart useable via this git repo as a helm repo?
I would like to install this using my terraform helm provider.
e.g. this should exist: https://raw.githubusercontent.com/netdata/helmchart/master/index.yaml

Ref https://github.com/netdata/helmchart/issues/72

[2020-02-28 07:40] hazcod commented on #74
Another possibility is creating releases with `.tar.gz` archives so we can directly refer those.

[2020-02-28 09:30] ncmans commented on #74
Definitely doable with something like Github pages. @cakrit what do you think? After Helm 3 release, [helm stable is not longer accepting new charts](https://github.com/helm/charts#status-of-the-project). Instead [Helm Hub](https://github.com/helm/hub/blob/master/Repositories.md) accepts inclusion of repositories which it then searches across.

[2020-02-28 18:52] cakrit commented on #74
Don't ask for my permission gents, go ahead! :)

[2020-03-06 00:36] prologic commented on #74
@hazcod Please put up a PR, I will happily review it!

[2020-03-06 01:02] ncmans commented on #74
@prologic
Here's my proposal on how we should do it (which applies to any helm chart for that matter):

1. Setup `gh-pages` as helm chart repo (ie create the branch and add some Readme) — this is the branch we will auto-update with new packaged releases of helm chart.
2. Build a CI pipeline that upon release tagging (ie `git tag v1.0.5`):
  a. Packages the helm chart (ie `helm package ...`)
  b. C

[2020-03-06 04:38] prologic commented on #74
@ncmans Okay sounds good to me :) The `gh-pages` parts I already know quite well; so thanks for the `helm` hints. I guess @Ferroin and I should do this unless the OP is still interested :)

[2020-03-06 05:33] hazcod commented on #74
Would love to, but i’m afraid i’m a bit too fresh to the Helm scene. 😄 appreciate the work!

[2020-03-12 23:13] prologic commented on #74
@knatsakis I _think_ I've seen some PRs from you that are making this "in progress"? Added you as assigner and marked appropriately :)

[2020-03-13 19:44] knatsakis commented on #74
@hazcod, @prologic a helm repo has been created at https://netdata.github.io/helmchart/

It has the bare minimum at the moment, and only includes the 3 latest versions of the helm chart. We have to manually update it for the time being. But it is usable from the terraform helm provider.

I will keep updating this issue with progress on this front.

[2020-03-18 21:45] knatsakis commented on #74
Todo:
- Update documentation regarding the helm repo and in the helm repo itself.
- Automate updates to the helm repo as @ncmans described.

[2020-03-18 22:01] ncmans opened #78 "Apply for inclusion in Helm Hub"
After we have a stable [helm repo](https://github.com/netdata/helmchart/issues/74), we should add it to [Helm Hub](https://github.com/helm/hub/blob/master/Repositories.md) for better visibility/searchability.

[2020-03-24 11:39] cakrit opened #79 "Support claiming for Netdata cloud"
Our Helm chart should permit claiming the nodes, so they can appear on Netdata cloud. We can do it [via options to the executable](https://github.com/netdata/netdata/blob/master/claim/README.md#netdata-agent-command-line).

I would do it only for the master pod right now.

Not required for the cloud release, but it would be good if can dog food this one.

[2020-03-24 14:41] ncmans commented on #79
Can think of one reasonable place to put it:
- Helm post install hook (agent can be kicked out and it won't be claimed until manually/re-install of the chart)

Alternatively, in a side car to claim on a loop.

[2020-03-25 11:23] cakrit commented on #79
Since we can run netdata with command line options to do this, why not define an [init container](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/#create-a-pod-that-has-an-init-container) and use `values.yaml` to get the additional required options?

[2020-03-25 11:55] ncmans commented on #79
ye, that too — one behavior that can direct which method to use is: do we want to claim once, or ensure we stay claimed (even if the user removes the agent from the dashboard).

[2020-03-25 12:57] cakrit commented on #79
Ah, excellent point! We haven't worked on un-claiming yet, we were going to do it after the release.

With the command-line solution: Right now, the claiming process will be repeated every time the pod is restarted, as long as the command line options are there. It doesn't matter if the [claiming directory](https://github.com/netdata/netdata/blob/master/claim/README.md#claiming-directory) under `/

[2020-04-01 17:37] ilyam8 opened #81 "add some checks/linters"
We need to add some yaml/helm linters.

[2020-04-01 17:38] ilyam8 commented on #81
@ncmans could you recommend something?

[2020-04-01 18:38] ilyam8 commented on #81
i guess https://github.com/helm/chart-testing-action is ok

[2020-04-01 22:37] ilyam8 commented on #61
Not a specialist, just thinking out loud.

Could following work?:

- we have slave config-map
- init container gets local node uid
- and puts it into slave configmap

[code]
- we mount that value to the slave `/var/lib/netdata/registry/netdata.public.unique.id`

___

We can make it dynamic using `subPathExpr`

[code]

___

example

[code]

but instead of

[code]

we will use

[code]

[2020-04-01 23:52] prologic commented on #81
LGTM PR welcome :)

[2020-04-02 10:21] cakrit commented on #61
Using an init container sounds like a good idea to me, I just don't know about the config map. A shared volume could work very well though, as [in this example](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-initialization/#create-a-pod-that-has-an-init-container).

The great thing about this idea is that it doesn't need changes to the netdata daemon.

[2020-04-02 10:28] ilyam8 commented on #61
It seems you are right, i think init container that fethes local node uid is a way to go, it looks like an robust and easy way to achieve the goal. ConfigMap/shared volume is detail and both will do.

i think i try to fix the issue 😄

[2020-04-02 15:52] ilyam8 commented on #61
Using `emptyDir` volume is easier then configMap, `busybox` is enough for initContainer.

This works: a Pod with init container that fetched node uid

[code]

___

0 ilyam:playground $ kubectl exec -it init-test cat /etc/node_uid/uid
50d0f031-a82e-4f98-bb0e-f865b71390fa

[2020-04-02 16:15] ilyam8 commented on #61
I dont really like having bash inside args (no syntax highlighting, checking), but it feels like it doesnt worth to create something (repo + image) for something so simple at least for now.

I could make it in such way but make it optional. What do you think @cakrit ?

[2020-04-02 19:29] cakrit commented on #61
If this works, let's do a PR and we'll get additional feedback. I'm personally not worried about code in the configuration.

[2020-04-03 10:32] varyumin commented on #61
Are you sure you choose the right UID? And didn't confuse UID? Because in manifest node we have 2 kinds of UID. Firs it's UID of Kubernetes, second UID of Node. Example manifest by node:

[code]
I think. the correct choose is `systemUUID: 626BE7E4-892B-4A55-A642-050AFFF283DF`

[2020-04-03 10:36] ilyam8 commented on #61
The goal is to have something persistent and unique, we choose `node.metadata.uid`. It is generated by system and unique per object. It seems it satisfies our needs.

[code]

Can we have problems with it?

[2020-04-03 11:28] varyumin commented on #61
Yeap. Your script will cover 99.9% of cases. But if someone removes or reinstall node cluster. Your UID  will be changed. Maybe my example unreal, it is only my opinion. Up to you )
[code]

[2020-04-03 11:32] varyumin commented on #61
I am wrong, your script covers 100% of cases. Because after reinstall node your POD also redeploy and get new UID

[2020-04-03 11:51] ilyam8 commented on #61
Hm, if an administrator removed the node from the cluster and then adds it back i guess `node.metdata.uid` will be changed. But probably i am wrong. We need to check it.

I restarted my minikube, `uid` and `systemUUID` wasnt changed.

[code]

[code]

[2020-04-03 11:54] ilyam8 commented on #61
I see we have 2 cases:
 - node reboot
 - node `drain => cordong => uncordong`

We need `uid` that survives both cases if it is possible.

[2020-04-03 11:56] ilyam8 commented on #61
i assume both `uid` and `systemUUID` will do 🤔

[2020-04-03 11:59] varyumin commented on #61
I think minikube, can't cover all cases. Try `kubectl delete node` or `kubeadm remove node` and include node again to the cluster. For example with `kubeadm`

[2020-04-03 12:08] ilyam8 commented on #61
Yeah, ofc. I think if you completely remove node and then add it back `uid` will be changed. I think you are right `systemUUID` is more robust option.

I see there is `This field is specific to Red Hat hosts`, is there a chance there is no `SytemUUID` on a host? (link in the explain for the field is 404).

I guess safe solution is to try `SystemUUID` if it doesnt exist fallback to `uid`. What do y

[2020-04-03 12:22] varyumin commented on #61
`This field is specific to Red Hat hosts` maybe it's mean like it exits but looks another. Because I have checked on Ubuntu 18.04, 16.04, Debian 9, Debian 10 and Centos 7 and I have gotten systemUID in my node manifest. I guess too. 1st try to get SystemUUID, after uid manifest.

[2020-04-05 10:02] ilyam8 opened #84 "resources requests defaults"
I see both netdata master and slave have no resources requests defaults. I think it is wrong and we need to provide default values.

Requests needed by scheduler and it is good practice to not have empty resources.

Btw GKE has webhook `pod-ready.config.common-webhooks.networking.gke.io` and it (silently for you) sets resources.requests.cpu to 100m if it is not set.

___

Do you have something in

[2020-04-05 11:04] ncmans commented on #84
@ilyam8 Helm charts don't tend to provide resource requests as defaults (only perhaps as a comment) to accomodate running the charts on resource limited environments (e.g. minikube). See helm's official recommendation when creating new helm charts:

[code]

[2020-04-05 11:18] ilyam8 commented on #84
Well, it is very questionable approach in my opinion. If i would be an k8s cluster admin i would like not to have apps w/ `resources: {}`.

i was thinking that if you want to install something from helm you do `helm install`. But it seems you do it only for tests, the correct way is to download, change values and install after 🤔

[2020-04-05 11:24] ilyam8 commented on #84
I think that app developer knows better cpu/mem usage and can provide reasanoble defaults, it is better then provide nothing. Because scheduling is kind of broken without it.

Anyway if it is the official helm way lets follow it.

[2020-04-05 11:24] #84 closed

[2020-04-05 11:27] ncmans commented on #84
Absolutely! Running without resource requests will result in pod evictions left and right.

That's correct. Unfortunately there isn't one value that can be regarded as fitting even the majority of use cases of a chart. So providing a default is kind of misleading the user to believe that they don't need to worry about it.

As an example, the same chart may be mission critical and must have high av

[2020-04-05 11:45] ilyam8 commented on #84
I think it is app specific and up to developers. I see pulsar guys set resources for all its componenets.

Example

https://github.com/apache/pulsar/blob/52ae1823dbcbef95637580c5f3568843232cd379/deployment/kubernetes/helm/pulsar/values.yaml#L221-L224

It would be crazy to not provide in their case 😄

___

yeah

[2020-04-05 11:52] ilyam8 commented on #84
We want netdata to be up and running and not be a target for a oom killer in the first place.

To get that BestEffort class does not suit to us.

If we provide `resources: {}` as defaults we need to make it super explicit and say that **current defaults are not ok for production**.

[2020-04-05 12:14] ncmans commented on #84
Pulsar's chart is quite [experimental](https://github.com/apache/pulsar/issues/4687) and in-flux at the moment (and broken in many ways). I wouldn't use that as a prime example (been wrestling with it for sometime :grin:  ).

Something else that chart providers do is that they provide a `values-production.yaml` that has resource requests set and is somewhat production ready (or at least a good sta

[2020-04-05 12:45] ilyam8 commented on #84
@varyumin your thoughts on this?

[2020-04-06 06:51] #61 closed

[2020-04-13 15:50] ilyam8 opened #86 "netdata master: survive node failure"
Netdata master runs as `Statefulset`.

It means that if the node with Netdata master is not available (network problems, power problems, etc) statefulset woudlnt be rescheduled on the other node of the cluster. Which bascially means no monitoring.

Related issues:
 - https://github.com/kubernetes/kubernetes/issues/54368
 - https://github.com/kubernetes/kubernetes/issues/74947

Suggested way to han

[2020-04-21 08:21] sbillon opened #88 "Configmap size"
Hello,

When I am trying to install netdata with helm, I get this message

`helm install netdata ./netdata
Error: create: failed to create: Secret "sh.helm.release.v1.netdata.v1" is invalid: data: Too long: must have at most 1048576 characters`

It looks configmap is bigger than the 1mb configmap allowed size

`helm version
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff674329

[2020-04-21 08:33] ilyam8 commented on #88
https://github.com/helm/helm/issues/6711

[2020-04-23 16:20] lgg42 commented on #88
Same error here, but with Helm 2

from tiller logs:
[code]

[code]

[code]

using netdata Chart version: 1.1.14

[2020-04-23 16:24] ilyam8 commented on #88
Not a specialist but i think it is not netdata helmchart bug, i think we need to open an issue/find existing one in a helm reop

[2020-04-23 16:27] ilyam8 commented on #88
@knatsakis what do you think?

[2020-04-23 16:27] lgg42 commented on #88
Ok, I found the issue, the problem is the `.git` folder being too big and going in.
I did an `rm -rf .git` and I could install the chart without problems. Normally I install charts from helm repos so I didn't run into this problem before.

Maybe, as a solution, you could add to the README.md the step to `rm -rf .git` before installing the chart.

[2020-04-23 16:49] ilyam8 commented on #88
`.helmignore` will do

[2020-04-24 11:27] #88 closed

[2020-04-24 14:34] DavidTinoco opened #90 "netdata-master CrashLoopBackOff"
Hi, we are tring to deploy this helm chart, but we cant make that the netdata-master be up.

[code]

And we edited, in values.yaml, the "ingress.hosts" and "service.type" this, to NodePort. because we was having errors if we set this on the command.

And created .helmignore with:

[code]

Looking the container logs we get that:

[code]
Looks like the problem is creating `/var/lib/netdata/registry`

[2020-04-24 14:46] ilyam8 commented on #90
Hi @DavidTinoco

It looks like the error is

https://github.com/netdata/netdata/blob/fe722cb2a48c074eb7e2739c5052a28d4aa97d56/registry/registry_init.c#L20-L23

Permissions problems?

[2020-04-25 18:02] ajaguilar-viewnext commented on #90
Hi @ilyam8

I aggre it is some kind of permissions issue but it is quite weird, i have just run the entrypoint script from within the container and same results.

`/usr/sbin/netdata -u "${DOCKER_USR}" -D -s /host -p "${NETDATA_PORT}" -W set web "web files group" root -W set web "web files owner" root "$@"`

Maybe i am leaving something behind but it seems like it is the process which has not acces

[2020-04-28 09:07] ilyam8 commented on #90
@ncmans please take a look

[2020-04-30 16:11] vkropotko opened #92 "Init container cannot connect to Kubernetes API server"
Chart version: version: 1.1.14.
Kubernetes version 1.15(AWS EKS)

netdata-slave-* containers cannot start due to an error in `init-nodeuid` container.
[code]
It's related to this command:
[code]
I've checked old busybox container(1.28) with the same result.

Mb, it'd better switch to `alpine` based image with `GNU wget`?

e.g.
[code]

[2020-04-30 18:37] ilyam8 commented on #92
hm, interesting, i get exact error w/o `--no-check-certificate`

[code]

and it works ok w/ `--no-check-certificate`

[code]

[2020-04-30 18:38] ilyam8 commented on #92
oh, it is different error

[2020-04-30 18:49] ilyam8 commented on #92
Yeah, it makes sense

[2020-04-30 19:01] ilyam8 commented on #92
i guess ill make a docker image with shell code inside and wll use it, it will make code cleaner.

[2020-05-01 12:06] cakrit opened #93 ""alarms" persistence flag affects netdata cloud"
This Github issue is synchronized with Zendesk:

**Ticket ID:** [#20](https://netdata.zendesk.com/agent/tickets/20)
**Group:** Support
**Requester:** rahimian.pegah@gmail.com
**Assignee:** Zack
**Issue escalated by:** Christopher Akritidis

**Original ticket description:**

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>Hi,</div><div>I have trouble signing

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-28 at 14:03:*

<blockquote><div class="zd-comment" dir="auto">Hi,<br>You probably have a setting in your browser that prevents the  required cookie from being stored. If you copy the magic link URL, and  paste it manually in a new tab in your browser with the developer  console showing, you will probably see an error. Please give us a  screenshot of an

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-28 at 14:19:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>Thanks for your reply,</div><div>Now I can sign in with github. But also there are too many nodes there and the worker 1 , 2, 3, cannot be recognizes. That is relly strange as I cannot access the slaves in netdata. It happened after I turne

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-28 at 14:32:*

<blockquote><div class="zd-comment" dir="auto">Please report a bug in Github here <a href="https://github.com/netdata/netdata/issues/new/choose" rel="noreferrer">https://github.com/netdata/netdata/issues/new/choose</a> and provide as much detail as you can about your systems and setup.<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-28 at 14:32:*

<blockquote><div class="zd-comment" dir="auto"><span><a href="/users/403723624913" class="atmention">Christopher Akritidis</a></span>​ is this related to this one bug about masters/slaves and not seeing slave nodes?<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Christopher Akritidis on 2020-04-29 at 10:12:*

<blockquote><div class="zd-comment" dir="auto">Having it happen when TLS is turned on is key. I expect that the URL was http and now it should be https. So he could perhaps fix it by deleting some URLs from his visited nodes.<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Christopher Akritidis on 2020-04-29 at 10:13:*

<blockquote><div class="zd-comment" dir="auto">I can show you exactly what I mean, if you want.<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Costa Tsaousis on 2020-04-30 at 07:45:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr">Has anyone answered this?</div><br><div><div dir="ltr">On Tue, Apr 28, 2020 at 12:21 PM Pegah Rahimian &lt;<a href="mailto:rahimian.pegah@gmail.com" rel="noreferrer">rahimian.pegah@gmail.com</a>&gt; wrote:<br></div><blockquote style="border-left

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 13:17:*

<blockquote><div class="zd-comment" dir="auto">Yes, and I have not heard back yet.</div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 17:30:*

<blockquote><div class="zd-comment" dir="auto">Hi Pegah,<br><br>When you turn on TLS you may have to check your visited nodes and make sure you are connecting to them using https:// instead of http:// since the old URLs will no longer be reachable.<br><br>Please let us know if you are still having this issue!<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 17:41:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>Hi Zack,</div><div>Thanks, but I have deeper issue. I can see a lot of unreachable nodes which are replicating without any reason. As you see in the below screenshot:</div><div><div><img src="https://netdata.zendesk.com/attachments/token/2z

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 17:42:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div><img src="https://netdata.zendesk.com/attachments/token/7DijoBRyaj0ZosPPp29Mw0aZU/?name=image.png" alt="image.png" width="472" height="385"><br><br></div></div><br><div><div dir="ltr">On Thu, 30 Apr 2020 at 19:41, Pegah Rahimian &lt;<a href

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 17:43:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr">There is no TLS. I just have this issue without TLS setting.<br></div><br><div><div dir="ltr">On Thu, 30 Apr 2020 at 19:42, Pegah Rahimian &lt;<a href="mailto:rahimian.pegah@gmail.com" rel="noreferrer">rahimian.pegah@gmail.com</a>&gt; wrote:<br>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 17:47:*

<blockquote><div class="zd-comment" dir="auto"><a href="https://github.com/netdata/netdata/issues/8847" rel="noreferrer">https://github.com/netdata/netdata/issues/8847</a><br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 17:53:*

<blockquote><div class="zd-comment" dir="auto">ignore, i think the prev linked issue is not the right one (and i can't edit that comment)<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 17:55:*

<blockquote><div class="zd-comment" dir="auto">If you made a Github issue, can you link me that issue?<br><br>Also, what is your Netdata version? You can get that with "netdata -v"<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 17:57:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>netdata v1.20.0-278-nightly</div><div><br></div><div>and here is the issue:</div><div><br></div><div><a href="https://github.com/netdata/netdata/issues/8847#event-3280654319" rel="noreferrer">https://github.com/netdata/netdata/issues/8847#e

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 18:01:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>probably you can access UI?</div><div><br></div><div><a href="http://152.66.245.138:22647/host/master-from-snapshot/#menu_system_submenu_idlejitter;theme=slate;help=true" rel="noreferrer">http://152.66.245.138:22647/host/master-from-snapsho

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 19:19:*

<blockquote><div class="zd-comment" dir="auto">I cannot access the UI.<br><br>My current version is netdata v1.21.1 - do you have an update available?<br><br>I went through the github issue.&nbsp; When you reinstall k8s are you going to redeploy/update your helm charts?<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 20:03:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>I also tried v21. But same issue.</div><div>for reinstalling, I will use "helm delete netdata", then: " helm install netdata ./path_to_hem_chart"</div><div>&nbsp;</div><div>I assume it should be delete and purge as Im using helm3. But you a

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-04-30 at 20:17:*

<blockquote><div class="zd-comment" dir="auto">Ok. Let me know when you reinstall, then we can add some details to the github issue if that doesn't fix it.<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-04-30 at 20:19:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div><div dir="auto">Thanks a lot for your help. I will contact you tomorrow,</div></div><div dir="auto"><br></div><div dir="auto">Pegah</div><div><br></div></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Christopher Akritidis on 2020-05-01 at 11:19:*

<blockquote><div class="zd-comment" dir="auto">I know where the issue is coming from, will write on GitHub.<br></div></blockquote>

[2020-05-01 12:06] cakrit commented on #93
*Comment made from Zendesk by Christopher Akritidis on 2020-05-01 at 12:05:*

<blockquote><div class="zd-comment" dir="auto">Ok, I saw the discussion in 8847 and it has to do with streaming, which is unrelated to this report. I will unlink it, so it doesn't get confusing.<br><br>The issue here is caused by an confusing link between the "alarm persistence" and the netdata instance unique identifier

[2020-05-01 12:13] cakrit commented on #93
We basically have three options here:
- Provide more options for persistence, that distinguish between the various files stored under `/var/lib/netdata`. A `claim.d` directory is getting added there as well. I'm not fond of this option, because it means we'll need to always add new options and require new volumes every time we add a new file or directory there.
- Change the docs and the config fil

[2020-05-01 12:15] cakrit commented on #93
cc @pegy4444

[2020-05-01 12:15] cakrit commented on #93
cc @peggy4444

[2020-05-03 19:26] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-05-03 at 19:26:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>Hi,</div><div>Thanks for checking. We have re-installed k8s, and installed netdata with helm chart (v21) again. I have also set the persistent flags for alarm and database to true. But we still cannot access the slaves immediately. There ar

[2020-05-03 20:56] zack-shoylev opened #94 "Streaming issue, cannot resolve host netdata"
This discussion started here: https://github.com/netdata/netdata/issues/8847

[2020-05-03 20:57] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-05-03 at 20:57:*

<blockquote><div class="zd-comment" dir="auto">I cannot access the address you provided, is it internal?<br><br>The helm chart was updated recently (<a href="https://github.com/netdata/helmchart/blob/master/Chart.yaml#L4" rel="noreferrer">1.2.0</a> for 1.21.0).<br><br>For now I made a new helm chart issue here: <a href="https://github.co

[2020-05-04 11:37] cakrit commented on #94
Let's continue this in 8847, I did a comment to clarify what we need to do.

[2020-05-04 11:37] #94 closed

[2020-05-04 15:34] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-05-04 at 15:34:*

<blockquote><div class="zd-comment" dir="auto">Hi Pegah,<br><br>Just to keep you updated: We've decided to continue the discussion in issue <a href="https://github.com/netdata/netdata/issues/8847" rel="noreferrer">8847</a>. There are a few things for us to test out - thank you for reporting this, you are helping make Netdata better!<br>H

[2020-05-04 21:05] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-05-04 at 21:05:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div><div dir="auto">Hi,</div></div><div dir="auto">Thanks, here is what we see:</div><div dir="auto"><br></div><div dir="auto">1) This issue is not concerning us as we are not using netdata cloud. So thats not a big deal. I have just asked you as it was un no

[2020-05-04 22:21] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-05-04 at 22:21:*

<blockquote><div class="zd-comment" dir="auto">I will let you know once our testing is complete. If we run into unexpected problems, the discussion will be in the issue I linked previously.<br></div></blockquote>

[2020-05-04 22:28] Peggy4444 commented on #93
Ok thanks,
That will be great if you just describe the result of testing, regardless
of being successful or not, and sharing configuration in the issue page.

Thanks again and regards,
Pegah

On Tue, May 5, 2020 at 00:21 Chris Akritidis <notifications@github.com>
wrote:

[2020-05-05 12:12] cakrit opened #95 "DNS errors with HostNetwork and ClusterFirstWithHostNet settings"
Hi All @cakrit @ilyam8  @zack-shoylev @thiagoftsm @vlvkobal

Here is what we found to debug connectivity and streaming problem:
The Helm chart installs netdata with dnsPolicy: ClusterFirstWithHostNet, which causes DNS errors, making slave - master streaming haphazard (even without encrypting streaming, or influxdb backend). Setting it to ClusterFirst solves the problem, but we are afraid that we l

[2020-05-05 12:14] cakrit commented on #95
I'm not sure why we would need these two settings in our Daemonset, they were in the original chart @varyumin had created. I'm doing a PR without them that I tested and didn't see anything wrong with streaming, or with the network interfaces. Before we merge though, let's hear from @varyumin

[2020-05-06 13:22] varyumin commented on #95
My opinion. Why I have picked DNS Policy `ClusterFirstWithHostNet`, because used `hostNetwork` (IMPORTANT) and in Kubernetes documents are written   "For Pods running with `hostNetwork`, you should explicitly set its DNS policy “ClusterFirstWithHostNet”" https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy . What is it means for me? If I want something monitori

[2020-05-06 13:41] varyumin commented on #95
If you don't need `hostNetwork`. U can remove hostNetwork: true and DNS Policy

[2020-05-06 13:42] varyumin commented on #95
I would stay this as an option in helm chart

[2020-05-08 10:51] cakrit commented on #95
Ok, we'll make these two configurable. I will close the open PR and do a new one.

[2020-05-12 20:26] TechnicalMercenary commented on #92
Yes, it appears to me that the busybox Wget does not support the `--no-check-certificate`

[2020-05-12 20:51] ilyam8 commented on #92
i think you are right

[code]

[2020-05-12 21:43] ilyam8 commented on #92
could you guys check the fix?

[2020-05-15 08:11] casperbiering commented on #92
Any reason not just to use the same netdata/netdata image which already contains curl with the `--insecure` option? Or even better make it secure by adding `--cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt`?

[2020-05-15 13:32] ilyam8 commented on #92
i dont know if it is better, result is the same 🤔

@ncmans @knatsakis what do you think?

[2020-05-18 10:10] #92 closed

[2020-05-18 11:46] vkropotko commented on #92
It works, thank you

[2020-05-19 22:54] cakrit commented on #93
*Comment made from Zendesk by Pegah Rahimian on 2020-05-19 at 22:54:*

<blockquote><div class="zd-comment zd-comment-pre-styled" dir="auto"><div dir="ltr"><div>Dear Zack,</div><div><br></div><div>Is there someone who I can ask how to enable weblog module in netdata helm chart? <br></div><div>I want to see upstream_response_time chart in netdata. (probably for nginx).</div><div>I have enabled go.d

[2020-05-19 23:22] Peggy4444 opened #100 "upstream_response_time chart in netdata helm chart"
Hi,
I want to enable `upstream_response_time` in netdata using helm chart (k8s). I have enabled `go.d` plugin in values.yaml.
Then using `./edit-config go.d.conf` on the netdata_master_0 pod, I have explicitly enabled weblog module `web_log: yes`. How can I restart netdata now to see the new charts?

I have also installed Nginx with helm chart.
Is there any other configuration I need to do in orde

[2020-05-20 07:29] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-05-20 at 07:29:*

<blockquote><div class="zd-comment" dir="auto">You need to configure both nginx and Netdata and make sure to restart both. Also see https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/nginx/<br><br>I will look into the specific value  and the helm chart and let you know.</div></blockquote>

[2020-05-20 07:47] ilyam8 commented on #100
hi

@Peggy4444 do you know where are nginx logs? if they are on a system

And nd has access to that file it is possible.

Unfortunately you need to configurte all that manually, but we are working on making it more user friendly

[2020-05-20 09:44] Peggy4444 commented on #100
nginx logs are in `/var/log/nginx` directory of nginx pod.
but I am not sure if netdata can access those logs.
The configuration should be in netdata-master-0 pod? any slaves?

[2020-05-20 14:15] Peggy4444 commented on #100
total 8
drwxr-xr-x    1 www-data www-data      4096 Feb 24 12:47 .
drwxr-xr-x    1 www-data www-data      4096 Feb 21 19:27 ..
lrwxrwxrwx    1 www-data www-data        11 Feb 24 12:47 access.log -> /dev/stdout
lrwxrwxrwx    1 www-data www-data        11 Feb 24 12:47 error.log -> /dev/stderr

[2020-05-20 16:50] cakrit commented on #93
*Comment made from Zendesk by Zack on 2020-05-20 at 16:50:*

<blockquote><div class="zd-comment" dir="auto"><a href="https://github.com/netdata/helmchart/issues/100" rel="noreferrer">https://github.com/netdata/helmchart/issues/100</a><br><br></div></blockquote>

[2020-05-20 18:43] ilyam8 commented on #100
as you see it is stderr/stdour, so it is likely they are on the host sytem. If they are on the host system we can monitor them.

It is very likely the engine is docker in your case.

By default docker engine stores logs in

Probably it means that we can monitor `nginx`/`apache` logs in k8s when we have service discovery + json parser. At least when it is docker and and node level logging ([there a

[2020-05-20 18:45] ilyam8 commented on #100
@Peggy4444 as for now - it is kind of impossible to use weblog in k8s.

As you see path contains container id, there is no way you will set it in module config manually

[2020-05-20 18:47] ilyam8 commented on #100
Nothing we can do atm, it is not this helmchart bug, i am closing the issue.

On the bright side - we are working on it and this issue is #100 🎉 Good number 😄

[2020-05-20 18:47] #100 closed

[2020-05-20 18:50] Peggy4444 commented on #100
I see, Thanks @ilyam8

Just another question. Isn't there any other metric in netdata to monitor `upstream_latency_second` or related metrics? Not specifically for nginx and log monitoring

[2020-05-20 18:57] ilyam8 commented on #100
`weblog` just reads logs and collects vars from there

nginx vars:

[code]

So it is app specific, we dont really monitor them - app exposes metrics, we collect and visualise them.

---

There are some plugins that do basic _measurements_. For example: `httpcheck`

[2020-05-25 21:41] leflambeur opened #101 "netdata/wget is not built for ARM"
I'm testing this on my k3s cluster on RPi - my slaves aren't starting as it relies on node/wget which is only built for amd64 (netdata though is built for ARM in of itself)

Is there any possibility of getting a wget image built for arm?

[2020-05-25 22:15] ilyam8 commented on #101
Hi @leflambeur

Do you mean `netdata/wget`

https://github.com/netdata/helmchart/blob/962be5799a8a6f3473c2eaf07499f181cf397378/templates/daemonset.yaml#L59

?

Could you try to change it to `ilyam8/wget` and see if it works?

---

I googled for multi-arch images and found

And build wget image for amd64/arm64/armv7

[2020-05-26 13:29] leflambeur commented on #101
I did sorry I was going quick, I'll test it now

I wasn't sure if the netdata one was anything special and figured it's worth having an official one at least requested

[2020-05-26 13:34] leflambeur commented on #101
![Screenshot 2020-05-26 at 14 33 06](https://user-images.githubusercontent.com/57944539/82906904-d86cb800-9f5d-11ea-912b-76a43516a132.png)

It's gone green :) - checked the dashboard and now it's there

![Screenshot 2020-05-26 at 14 32 53](https://user-images.githubusercontent.com/57944539/82906957-e91d2e00-9f5d-11ea-9388-a26d7641b857.png)

LGTM

[2020-05-26 20:33] unixfox commented on #79
With the release of netdata cloud publicly I'm also interested into that feature in order to add my whole fleet of nodes in one go on the netdata cloud website.

[2020-05-26 20:50] unixfox commented on #86
With the release of netdata cloud, the master could be replaced by netdata cloud and all the nodes would have netdata as a daemonset connected to netdata cloud.
I don't know if it's a viable solution but from I can see netdata cloud seems to aggregate the metrics from multiple nodes so this kinda replace the functions of a netdata master.

[2020-05-27 05:51] ilyam8 commented on #86
It could be but current design doesnt allow it. Cloud doesnt store metrics.

[2020-05-27 12:04] ncmans commented on #86
One way is to deploy netdata master as a deployment with replica of 1 and deployment strategy of "replace".

[2020-05-28 10:24] ilyam8 commented on #101
@leflambeur

switch to `netdata/wget` when https://github.com/netdata/docker-wget/pull/2 is merged

[2020-05-28 12:35] leflambeur commented on #101
Watching it and will do, thanks for the quick turn around

[2020-05-28 12:38] #101 closed

[2020-06-02 18:44] ilyam8 commented on #86
i assume netdata doesn dns lookup only on connect, am i right? @stelfrag

[2020-06-02 18:54] ilyam8 commented on #86
i see they are `Recreate` and `RollingUpdate`

[code]

---

[StatefulSet](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#using-statefulsets)

[code]

It looks like atm we dont need 3 and 4, 2 can be achieved using a deployment too. (@ncmans ?).

So the main blocker is 1.

[2020-06-02 23:52] ncmans commented on #86
@ilyam8

We have a kubernetes service that has a stable network identifier which sits in front of our pod. We don't really need the pod itself to have that property.

Something like a cluster of DB nodes that must directly talk to each other would require unique network id at the pod level, but netdata master is a single node app.

Also, corrections to previous comment. I meant deployment with rec

[2020-06-02 23:57] ilyam8 commented on #86
oh, ofc, it is a service IP, not a pod 🙈 Then it looks like a deployment is a more reliable way to deploy nd master

[2020-06-25 14:36] joelhans opened #105 "Change master/slave to parent/child"
Apologies if this is already in progress, but I wanted to be able to track the progress of this work, since it has quite a few implications for the k8s install doc (netdata/netdata#9364), and the k8s guide I'm also working on.

Related to netdata/netdata#9323 and netdata/netdata#9312

[2020-06-25 14:57] ilyam8 commented on #105
I assume this are breaking changes ([link](https://github.com/netdata/infra/blob/master/terraform/modules/k8s/netdata.tf))

@ncmans

How do we handle it?

[2020-06-25 15:13] ncmans commented on #105
@ilyam8 I've opened [an issue](https://github.com/netdata/infra/issues/667) for this in infra.

[2020-06-25 16:27] ilyam8 commented on #105
Not wip, ill do it later today or tomorrow morning

[2020-06-27 14:30] ilyam8 commented on #105
@ncmans do we need to sync with https://github.com/netdata/infra/issues/667 or i can merge #106?

[2020-06-29 02:22] ncmans commented on #105
The infra one is blocked by #106 so yes, you can merge 106.

[2020-06-29 07:14] #105 closed

[2020-06-29 13:37] OdysLam opened #107 "Readme.md chaoskube link results to 404"
At the end of the Readme.md, the link to chaoskube results to 404.

**current:** https://github.com/helm/charts/tree/parent/stable/chaoskube
**non-404 link:** https://github.com/helm/charts/tree/master/stable/chaoskube

[2020-06-29 13:46] ilyam8 commented on #107
THX @OdysLam 👍

[2020-07-01 14:25] #107 closed

[2020-07-06 17:12] lgg42 commented on #79
I vote for the init container. Our cluster is very dynamic so nodes comes and goes. Ideally the chart is installed once and updated once in a while but every time a netdata slave starts in a new node claiming could be done in a init container.

[2020-07-08 03:24] ncmans opened #113 "Allow configuring deployment strategy"
## Use Cases

- When making updates to a cluster with many netdata children, the update will take a very long time if they're updated one by one as is the default.

[code]

[2020-07-08 08:28] ilyam8 commented on #113
Hi, we have `daemonset` and `statefulset`.

[code]

explain is wrong, default is rollingUpdate

[code]

Docs: https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-update-strategy

---

@ncmans what option changes would make update faster?

[2020-07-08 08:48] ilyam8 commented on #113
Ok, there is only one option - `daemonset.spec.updateStrategy.rollingUpdate.maxUnavailable`. It seems is what you need.

[2020-07-08 08:50] ncmans commented on #113
yes, exactly

[2020-07-08 08:51] ncmans commented on #113
Most charts expose `updateStrategy` in their `values.yaml` file.

[2020-07-08 11:08] cakrit commented on #79
Blocks https://github.com/netdata/netdata/issues/8779

[2020-07-08 11:12] prologic commented on #74
As a first step I would just create the CI workflow that implements what @MansM originally suggested and go from there. We can then "automate" this entirely once we figure out where it all fits in the greater schemes of things.

We can just manually trigger the workflow from `dispatc_event`(s) for now...

[2020-07-08 11:21] cakrit opened #114 "Clarify requirement for "alarms" PVC"
The "alarms" directory has a lot more than alarms now (claiming information, machine guid and we'll be adding more). It's becoming really necessary to have this directory survive pod restarts.

We basically have three options here:
- Provide more options for persistence, that distinguish between the various files stored under `/var/lib/netdata`. A `claim.d` directory is getting added there as well

[2020-07-08 11:21] cakrit commented on #93
Closing in favor of #114

[2020-07-08 11:21] #93 closed

[2020-07-08 11:23] ncmans commented on #114
I suggest:

- Having an optional single `data` persistent volume mounted under `/var/lib/netdata`.

[2020-07-09 03:50] #113 closed

[2020-07-09 04:20] prologic commented on #114
@joelhans As this is really documentation IHMO, Would you be able to take this on? The last two points are what I think we need here in terms of documentation improvements. Also @ncmans 's point of just having one persistent volume is right right approach here as well.

[2020-07-09 14:43] knatsakis commented on #79
Hi,

I believe that neither an Init Container nor a PostStart hook is need. For some time now the agent supports running the `netdata-claim.sh` script during startup, if the appropriate command line parameters are passed to it. This is documented here:
https://learn.netdata.cloud/docs/agent/claim#newephemeral-agent-containers

So, all that is needed is to pass the right parameters to the main cont

[2020-07-09 14:45] knatsakis commented on #79
If the agent is already claimed the claiming script fails but the agent detects that it is already claimed and tries to establish a connection.

[2020-07-09 14:51] ilyam8 commented on #79
yeah, it works, i remember [i tested it](https://github.com/netdata/netdata/pull/9058)

do we need some persistent volume or [`persistUniqueID: true`](https://github.com/netdata/helmchart/blob/9626cec86ab775e084d2e6b92de36def3adbfb9c/values.yaml#L192) is enough?

[2020-07-09 15:09] knatsakis commented on #79
Example run with an empty `/var/lib/netdata` volume (unclaimed agent):

[code]

Example run with a filled `/var/lib/netdata` volume (already claimed agent):

[code]

[2020-07-09 15:13] ilyam8 commented on #79
so is it ok to have empty `/var/lib/netdata` but same `netdata.public.unique.id`? Cloud handles it?

[2020-07-09 15:17] knatsakis commented on #79
We need to persist `/var/lib/netdata/cloud.d` in a way similar to https://github.com/netdata/helmchart/blob/9626cec86ab775e084d2e6b92de36def3adbfb9c/templates/daemonset.yaml#L153

I thought we were doing that for the children but it seems we don't.

[2020-07-09 15:19] knatsakis commented on #79
I believe we need to persist both `/var/lib/netdata/cloud.d` and `/var/lib/netdata/registry`

[2020-07-09 15:46] ilyam8 commented on #79
we dont really persist `/var/lib/netdata/registry/netdata.public.unique.id`, in fact we create in on start using init container

https://github.com/netdata/helmchart/blob/9626cec86ab775e084d2e6b92de36def3adbfb9c/templates/daemonset.yaml#L76-L86

`netdata.public.unique.id` is persistent because we use node object `uid` as `netdata.public.unique.id`

[2020-07-09 16:59] joelhans commented on #114
@prologic I can take a swing at this, sure. Once I see a PR for the volume, with the decision on whether to make it persistent or configurable, I'll follow up with an update to the docs.

[2020-07-09 17:14] ilyam8 commented on #114
i think it should be configurable, a valid use case - install `nd` agent daemonset **only** w/o any streaming and cloud. People use such setups - store metrics in some tsdb and use `nd` agents for real-time debugging.

[2020-07-10 04:04] ncmans commented on #114
Yes, I believe a chunk of our users use the agent in a stateless config.

[2020-07-10 09:26] lgg42 commented on #79
Thanks for all this information! I didn't know! I'll continue to work on the PR with his update.

[2020-07-11 11:49] ilyam8 commented on #113
There is a bug in 1.23+, [this PR](https://github.com/netdata/netdata/pull/9520) fixes it.

1.23.0 and 1.23.1 is no-go in k8s.

[2020-07-13 10:10] cakrit commented on #79
The child nodes in the daemonset can't have a persistent volume. So we should only be claiming the parent.  We're currently working on getting streamed child node data to appear on the cloud, so we won't need to have the children claimed anyway.

Claiming the children every time the pod restarts wouldn't be problematic if we had chosen to let them always get a new identifier (MACHINE_GUID in `/var

[2020-07-13 10:58] cakrit opened #116 "Provide variables for exporting to another persistent data store"
See the [exporting documentation](https://learn.netdata.cloud/docs/agent/export)
We should allow both the parent and the children to export metrics to an external TSDB, via `parent.configs.exporting` and `child.configs.exporting`. The default should be no exporting.

[2020-07-13 10:59] cakrit commented on #114
If we do that, the info will be useful only or mainly if they export the data to another persistent storage. I created #116 for it.

[2020-07-23 08:38] #79 closed

[2020-07-29 12:50] #86 closed

[2020-07-30 11:22] P1ng-W1n opened #121 "Child port exposure doesn't work as intended"
According to current HELM chart, Netdata childs are exposed over the {{ .Values.service.port }} value:

From https://github.com/netdata/helmchart/blob/master/templates/daemonset.yaml#L118
[code]

However, that service port is intended to be used by the parent only (according to https://github.com/netdata/helmchart#configuration). If this value is changed, the container exported port will be differ

[2020-07-30 22:17] ilyam8 commented on #121
I see we have `env` for both parent and child

https://github.com/netdata/helmchart/blob/a0b4cce6fd050558b23d2acb623cb5d162428d5b/values.yaml#L84-L86

https://github.com/netdata/helmchart/blob/a0b4cce6fd050558b23d2acb623cb5d162428d5b/values.yaml#L256-L257

So `NETDATA_PORT` can be set already

---

About `containerPort`, we could use something like (didnt test it)

[code]

---

But i see we have s

[2020-07-31 22:09] P1ng-W1n commented on #121
Hi @ilyam8

Thanks, I haven't realized that a separate 'env: ' section is already present in the values.yaml.

[2020-07-31 22:10] P1ng-W1n commented on #121
// Sorry, closed by mistake..

[2020-08-01 10:43] ilyam8 commented on #121
just suggest it here or make a PR and we discuss it there

[2020-08-03 23:35] fzyzcjy commented on #78
+1 It has been 4 months!

[2020-08-03 23:40] fzyzcjy commented on #72
Hi almost half a year has passed. Any progress?

[2020-08-03 23:41] fzyzcjy commented on #74
Hi any progress...?

[2020-08-04 03:50] prologic commented on #74
None yet, hasn't been picked up from our Backlog. If you'd like to help I would be able to help you and get reviews done!

[2020-08-04 03:51] prologic commented on #72
See related [Issue](https://github.com/netdata/helmchart/issues/74)

[2020-08-04 03:51] prologic commented on #78
See related [Issue](https://github.com/netdata/helmchart/issues/74)

[2020-08-04 06:25] kevin-zhonghao commented on #55
Hi @dylanyht  ~ I get the same error as you, can you tell me how you solved the issue? Thank you so much!

[2020-08-04 06:27] kevin-zhonghao commented on #55
Hi @cakrit  ~ I get the same error, can you tell me how we could solved the issue ~ Thank you so much!

[2020-08-04 06:58] fzyzcjy commented on #74
@prologic I will try to do that when having free time :)

[2020-08-04 11:39] cakrit commented on #55
@kevin-zhonghao you may need to set `master.database.storageclass` and `master.alarms.storageclass` to a different storage class. @dylanyht 's comment suggests that there was a user mismatch, perhaps the user `netdata` can't use the default storage class?   @knatsakis @ncmans @prologic may be able to provide more useful guidance.

[2020-08-04 16:13] kevin-zhonghao commented on #55
Thank you so much for your reply.  I have created two different storage classes locally and assigned them to parent.database.storageclass and parent.alarms.storageclass. like this:

parent:
  database:
     persistence: true
     storageclass: netdata-database
     volumesize: 2Gi

  alarms:
     persistence: true
     storageclass: netdata-alarms
     volumesize: 100Mi

But the same problem still

[2020-08-04 16:15] kevin-zhonghao commented on #55
@cakrit Thank you so much for your reply. I have created two different storage classes locally and assigned them to parent.database.storageclass and parent.alarms.storageclass. like this:

parent:
database:
persistence: true
storageclass: netdata-database
volumesize: 2Gi

alarms:
persistence: true
storageclass: netdata-alarms
volumesize: 100Mi

But the same problem still exists. I tried to disable

[2020-08-04 23:45] kevin-zhonghao opened #122 "Deployment error on Kubernetes"
Error is the following:
Netdata entrypoint script starting

[code]

Kubernetes version is v1.18.5,
Storageclass: Local,
here attached my storageclass and pv yaml:

[code]

[2020-08-05 08:19] fzyzcjy opened #123 "Cannot create directory '/var/lib/netdata/registry' - Maybe a permission problem?"
When using this chart, the `netdata-parent-69f84c876b-9pdst` pod fails.
P.S. Using `minikube`.

## Temporary (dirty) solution

Look at the PersistentVolume that this pod (deployment) uses. Then do `sudo chmod -R 777 /path/to/that/volume`. Then everything works. However, obviously we should never chmod in production env!

## Logs

[code]

## `kubectl describe`

[code]

[2020-08-05 08:56] cakrit commented on #55
Persistence definitely doesn't have anything to do not seeing metrics on the dashboard. Please open a new issue and add some logs from stderr, plus any browser console errors you get, so we can see how we can help you resolve these issues.

[2020-08-05 09:09] cakrit commented on #122
So it's:
- Not mounting `/host` : `2020-08-04 22:49:16: netdata ERROR : MAIN : Ignoring host prefix '/host': path '/host' failed to stat() (errno 2, No such file or directory)`
- Having problems writing the DB:  `2020-08-04 22:49:16: netdata FATAL : MAIN : Cannot create directory '/var/lib/netdata/registry'. # : Invalid argument`

Just to ensure there are no other problems, can you try modifying `

[2020-08-05 09:10] cakrit opened #124 "Default storage mode should be dbengine"
We still have a couple of bugs to fix with the dbengine, but it should become the default memory mode very soon. We now use `save` in k8s, `dbengine` everywhere else.

[2020-08-05 09:17] ncmans commented on #122
@kevin-zhonghao can you please provide us with your `helm install` command and/or helm values you passed to chart so we can try to reproduce it here.

[2020-08-05 09:19] ncmans commented on #124
@cakrit @amoss do you have a list of bugs blocking this issue you can mention here

[2020-08-05 09:21] ncmans commented on #123
@fzyzcjy can you please provide the `helm install` command you used and/or values you passed to the chart so we can try to reproduce it here. Thanks.

[2020-08-05 09:27] ilyam8 commented on #123
same error as in https://github.com/netdata/helmchart/issues/90#issuecomment-619418326

[2020-08-05 09:37] cakrit commented on #123
Partial duplicate of #122 . We have done something that caused this...

[2020-08-05 12:38] fzyzcjy commented on #123
I use the default value for helm install.

Since minikube has a bug on provisioning volumes, I manually allocate several PVs, e.g.

[code]

[2020-08-05 12:43] ilyam8 commented on #123
i created persistend volumes (create PVC, use PVC) in `minikube`, i had no problems

[code]

[2020-08-05 12:46] fzyzcjy commented on #123
Hmmmm maybe that is related to the broken storage-provisioner? This issue -> https://github.com/kubernetes/minikube/issues/7218

I will try to see whether this problem exists after the provisioner bug is fixed.

Thanks for the replies!

[2020-08-05 12:59] cakrit commented on #124
1. Repeated dbengine global flushing errors for statsd  - https://github.com/netdata/netdata/issues/8384
2. Possibly Netdata master crashing at streaming set-up  - https://github.com/netdata/netdata/issues/9662 Not sure yet
3. Netdata taking 100% CPU - https://github.com/netdata/netdata/issues/9595
4. Netdata crashes every couple of days - https://github.com/netdata/netdata/issues/9581 mdstat coll

[2020-08-05 12:59] cakrit commented on #124
These came from @mfundul

[2020-08-05 16:25] kevin-zhonghao commented on #55
@cakrit Thank you so much ~ I will open a new issue ~

[2020-08-05 16:46] kevin-zhonghao commented on #122
@cakrit I modified "parent.configs.netdata" and make "memory mode = ram", but it showed the same error, nothing changed. Here attached my values.yaml:
replicaCount: 1

image:
  repository: netdata/netdata
  tag: v1.23.2
  pullPolicy: Always

sd:
  repository: netdata/agent-sd
  tag: v0.1.0
  pullPolicy: Always
  child:
    enabled: true
    configmap:
      name: netdata-child-sd-config-map

[2020-08-05 16:48] kevin-zhonghao commented on #122
@ncmans  The cmd I used is "helm install netdata ./netdata-helmchart". The values.yaml is in my previous comment. Thank you

[2020-08-06 00:00] fzyzcjy commented on #123
After I updated to 1.12.2 and the storage-provisioner bug solved, netdata works happily :) Thanks!

[2020-08-06 00:00] #123 closed

[2020-08-06 09:51] cakrit commented on #122
You still have `persistence: true` in your `values.yaml` @kevin-zhonghao , try it without `persistence: false`, so we can make sure your netdata starts properly without it.
While you're at it, set the following to ram as well:
[code]

Can you also look at https://github.com/netdata/helmchart/issues/123 and the minikube storage provisioner bug mentioned there (in case you're working with minikube a

[2020-08-06 13:13] mfundul commented on #124
6. Netdata master crashing at streaming set-up - https://github.com/netdata/netdata/issues/9662 Memory Corruption.

[2020-08-06 14:46] kevin-zhonghao commented on #122
@cakrit  when I set up persistence:false and service.type:NodePort, I could reach the dashboard and see the metrics ~ thank you so much. I will close the issue

[2020-08-10 08:33] cakrit commented on #122
I would still like us to figure out the root cause of your issues with persistence though @kevin-zhonghao , if you don't mind helping us trace it. Are you using minikube?

[2020-08-16 08:01] pikomen opened #130 "ingress.path not working"
helm install \
--name=netdata \
--set ingress.path=/netdata  \
--set parent.database.persistence=false  \
--set parent.alarms.persistence=false \
--set service.type=LoadBalancer \
--namespace netdata \
./netdata-helmchart

k8s 1.16.10

logs from ingress:
"GET /netdata HTTP/1.1" 404 101 "-" "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/

[2020-08-18 09:23] fzyzcjy opened #131 "Custom service-discovery for more services (e.g. Redis/Kafka/Elastic)? (With my attempts inside)"
Hi thanks for the wonderful netdata! I [know](https://learn.netdata.cloud/guides/monitor/kubernetes-k8s-netdata#service-discovery-services-running-inside-of-pods) netdata supports 22 apps for service discovery. However, I need to monitor things like Redis and Kafka, which is not in the list. I wonder **how to add my custom service-discovery**?

Thanks!

My attempts:

1. I found that finally the ge

[2020-08-18 11:32] ncmans commented on #131
This seems like an issue for the @netdata/agent

[2020-08-18 11:37] fzyzcjy commented on #131
OK I create an issue there https://github.com/netdata/netdata/issues/9774

[2020-08-18 11:37] #131 closed

[2020-08-18 12:58] ilyam8 commented on #131
@fzyzcjy as you saw discovery (in fact it is - watch config files, stop/start jobs in runtime) works only for go modules

I plan to migrate elastic collector to go soon. Redis can be next.

Yes, we can collect data from prometheus exporters. It is already ~ possible, we need to update service-discovery config file (add prometheus endpoint identification patterns).

[2020-08-18 13:12] fzyzcjy commented on #131
@ilyam8 Thanks! By the way, in my humble opinion, the migration task only needs to, for instance, migrate the whole python.d/somethingelse.d to let it understand dynamic configurations, but not need to change things like redis/kafka/elastic exporters?

[2020-08-18 13:22] ilyam8 commented on #131
I am not sure what you mean by _exporters_, but we need to migrate/rewrite `*chart.py` files.

[2020-08-18 13:41] fzyzcjy commented on #131
@ilyam8 Sorry for the inaccuracy. I mean, e.g. https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/redis

[2020-08-18 13:44] ilyam8 commented on #131
Yes, there is even [a WIP redis PR](https://github.com/netdata/go.d.plugin/pull/257)

i need to finish it

[2020-08-18 13:50] fzyzcjy commented on #131
@ilyam8 Wow Redis will be rewritten in Go? That sounds wonderful!

[2020-09-06 20:09] kehao95 opened #133 "GKE: Could not determine issuer for ingress due to bad annotations"
Hi I was trying to deploy the helm chart to my cluster running in GKE.
Then I couldn't get the netdata-parent node up and running. It's always showing `pending`

After some digging I found the log
[code]
I'll try to solve it and provide solution if I find one. But I think maybe we should improve the doc about this.

[2020-09-07 08:13] knatsakis commented on #133
Hi @kehao95,

Could you provide the helm configuration that you used?

Thanks.

[2020-09-07 15:16] kehao95 commented on #133
I used default configs.
[code]

The ingress part config was:
[code]

btw I'm okay without ingress so I disabled it.

[2020-09-07 15:38] ilyam8 commented on #133
Hi, i found this

[2020-09-11 17:35] kehao95 commented on #133
looks like this works for me.

[2020-09-11 17:35] #133 closed

[2020-09-13 07:49] fzyzcjy opened #135 "Where should I put exporters (e.g. exporting to Prometheus format) - in the child or parent?"
I am a little confused about where should I put it.

My naive thoughts:

1. Maybe `child`? Because every node has a daemon of the "child", and we know NetData is very distributed and do not have centralized things (said in the netdata/netdata doc).
2. Maybe `parent`? Because the doc of this helmchart says child is headless and forward data to parent. But that contradicts with "netdata is not centr

[2020-09-13 08:14] ilyam8 commented on #135
Hi, as you know prometheus pulls metrics from an application. You configure a prometheus job, see

https://learn.netdata.cloud/docs/agent/exporting/prometheus#streaming-data-from-upstream-hosts

[2020-09-13 08:37] fzyzcjy commented on #135
Thanks very much!

[2020-09-13 08:37] #135 closed

[2020-09-13 08:39] fzyzcjy opened #136 "Change file descriptors to meet the requirements of dbengine"
The [doc](https://learn.netdata.cloud/docs/agent/database/engine/#file-descriptor-requirements) of dbengine says that, we need to have enough file descriptors. However, when looking at this helmchart, I do not find anything like `ulimit` or sth else that sets the number to be bigger.

Could this be done in the helmchart, or I should run `ulimit` on my host machine, or I should run `ulimit` on the

[2020-09-13 08:59] ilyam8 commented on #136
Not a specialist, but will try to answer

Related issues

From what i see it is possible to change container limits passing additional arguments to the `docker run ...`

---

@fzyzcjy is there a problem? I would start from checking the limits on your hosts

These are google cloud k8s env limits

[code]

[2020-09-13 12:11] fzyzcjy commented on #136
Thank you very much for the reply! I will check the limits once I am in the production environment (we are going to the cloud recently).

P.S. My original proposal was about, adding some kind of options or checks, such that users of this helmchart will never bump into this problem :) Anyway that is just a proposal

[2020-09-13 21:07] ilyam8 commented on #136
Well, i see we can change the limits it only via workaround - modifying an entrypoint (invoke `ulimit ...` in there) and adding additional capabilities to the container. (`IPC_LOCK`, `SYS_RESOURCE` - not sure these, just copied them from that issue in the k8s repo).

[2020-09-16 11:13] cakrit commented on #122
Closing due to no response.

[2020-09-16 11:13] #122 closed

[2020-09-16 11:20] cakrit commented on #124
The last step to enable this is:
- [ ] Use 1.25.0 in our own Netdata Cloud k8s cluster, with dbengine. Let's wipe out our old cache, to ensure we use the multihost DB engine
- [ ] Monitor it closely for ~2 weeks

If we have no issues then we make it default for all k8s installations.

@mfundul do you agree?

[2020-09-16 11:30] cakrit commented on #130
We should change the documentation of this option to state that when someone wants to use a different ingress path, they need a proxy in front of netdata, that will be configured to translate the path to / before sending the request to netdata itself.

[2020-09-16 11:38] mfundul commented on #124
I expect ephemeral metrics to increase the memory footprint significantly. Moreover the CPU utilization will be an issue during startup of the agent. This will be addressed only when we utilize the SQLite POCs. Other than that I agree.

[2020-09-18 04:35] prologic commented on #130
I don't agree with this. It is very typical and normal for web applications to be configured with a `BaseURL` option. We _should_ do this, not making our users have to put a Reverse Proxy in front just to rewrite inbound/outbound paths. If we truely want to remain true to our "zero configuration" and "low touch" capabilities, just simply provide a single option to correct this behaviour is __far s

[2020-09-18 06:15] woojeonghoon opened #139 "Nothing appears on the dashboard"
Seems the same as the issue at https://github.com/netdata/helmchart/issues/36.

git clone https://github.com/netdata/helmchart.git netdata-helmchart

helm install netdata ./netdata-helmchart

The result was this.
![image](https://user-images.githubusercontent.com/49222476/93561693-a32e1f00-f9bf-11ea-923a-abaa916ee8fc.png)

Pending looked at the error.
![image](https://user-images.githubusercontent

[2020-09-18 10:48] ilyam8 commented on #139
@woojeonghoon not really a specialist, but will try to help.

I installed netdata helmchart with default values (modified only `resourses=>requests`) on GKE.

I use latest version

[code]

All pods are running

[code]

---

These are my pv's/pvc's

[code]

---

I believe you can get detail using `kubectl describe...` for both netdata parent pod and pvc.

[2020-09-18 16:58] MansM opened #140 "helm chart fails using argocd"
[code]

my guestimate is that some if the "-" are rendered instead of being part of the logic...
https://github.com/netdata/helmchart/blob/master/templates/configmap.yaml

[2020-09-18 18:11] ilyam8 commented on #140
There were no changes for a while in that file, it works

[code]

[2020-09-18 18:23] ilyam8 commented on #140
Where does it come from? Generate `configmap.yaml` using your values, lets see

[2020-09-18 20:28] pikomen commented on #130
@prologic you are reading my minds

[2020-09-19 13:33] MansM commented on #140
found the issue, argocd renders v1 charts  with helm2  ( https://github.com/netdata/helmchart/blob/master/Chart.yaml#L1 )
which results in:
[code]
for helm3 apiVersion: v2 should be used

Helm2 will be unsupported after November anyway.
I can make I tiny pull request for this if needed (changing to helm3 by setting apiversion: v2)

[2020-09-20 22:53] kam1kaze commented on #74
Hey folks. I suggest to update README.md file with HELM repo information, bcz I accidentally found it when I switched to gh-pages branch. It has existed for 6 months! :)

[2020-09-21 01:55] ncmans commented on #130
@prologic @cakrit I suggest we look at existing projects and see what passes for "expected" in k8s. We can then evaluate it and see if makes sense for our case.

[2020-09-21 02:31] ncmans commented on #130
OK, I looked at a few examples (grafana, unifi, etc.). They all have the `ingress.path` as an option, but anything other than `/` won't work! I guess one project copied from another and here we are.

So I agree with @prologic that we should either:

- have an option to netdata to specify base path
- use relative path in the web app everywhere

[2020-09-21 15:46] OdysLam commented on #74
Thanks @kam1kaze for the suggestion. One of our engineers will respond promptly!
Take care :)

[2020-09-22 04:59] woojeonghoon commented on #139
Resolved thankx

[2020-09-22 04:59] #139 closed

[2020-09-22 05:29] woojeonghoon opened #144 "GPU Monitoring"
When running with docker

docker run -d --name=netdata \
  -p 19999:19999 \
  -v /proc:/host/proc:ro \
  -v /sys:/host/sys:ro \
  -v /var/run/docker.sock:/var/run/docker.sock:ro \
  -e PGID=999 \
  -e NVIDIA_VISIBLE_DEVICES=all \
  -e DO_NOT_TRACK= \
  --cap-add SYS_PTRACE \
  --security-opt apparmor=unconfined \
  d34dc3n73r/netdata-glibc

I was able to see the GPU usage with the command "NVIDIA_

[2020-09-22 06:25] prologic commented on #74
Hey @kam1kaze Its on my immediate backlog to get back to. I plan to complete this this week. Thanks for pining this!

[2020-09-22 18:59] knatsakis opened #146 "Add ability to set liveness and readiness probe parameters from values.yaml"
These parameters https://github.com/netdata/helmchart/blob/master/templates/deployment.yaml#L85 need to be configurable from values.yaml

@Ferroin, @prologic, @ncmans any objections?

[2020-09-26 11:11] milindchawre commented on #74
+1
Would love to see it completed.

[2020-09-28 06:04] prologic commented on #146
None from me! Sounds like a great idea!

[2020-09-28 07:10] fzyzcjy opened #148 "Is it a Security problem? very general PodSecurityPolicy"
Hi thanks for this helm chart! When reviewing the code, I find the [psp.yaml](https://github.com/netdata/helmchart/blob/master/templates/psp.yaml) allows k8s pods to do a lot of things (actually almost everything!). I am a new learner to k8s, so I wonder whether this is ok, or will it cause serious security problems? Thanks very much!

P.S. I know netdata needs some privileges, but it seems that t

[2020-09-28 07:27] OdysLam commented on #74
@milindchawre

Thanks for the feedback! It's so important to us.

P.S

Welcome to our community :)

[2020-09-28 10:13] milindchawre commented on #74
Thanks @OdysLam
Actually my plan was to [add netdata in civo marketplace](https://github.com/civo/kubernetes-marketplace/issues/89). By looking at its current installation steps, I decided to wait until this is fixed.

[2020-09-28 10:36] ilyam8 commented on #148
Related comment https://github.com/netdata/helmchart/pull/102#issuecomment-639086447

It would be nice if we have documented cluster role rules and psp.

[2020-09-28 12:07] #140 closed

[2020-09-28 12:15] knatsakis commented on #124
Unfortunately, I didn't know that we had to change the `dbengine disk space` option to `dbengine multihost disk space` in order to use the multihost db engine.

I have opened a PR for this now and we can start counting the two weeks as soon as it gets merged.

[2020-09-28 12:18] mfundul commented on #124
Yeah, backward compatibility is a pain. As long as there are old dbengine instances in `var/cache/netdata` then multihost-db is only used for new child nodes (not existing ones). So another thing to migrate to multihost-db is deleting the cache (and losing the history in the process).

[2020-09-28 13:53] fzyzcjy commented on #148
@ilyam8 Thanks very much! Seems that there should be fewer rules, so will it be updated?

[2020-09-28 15:10] ilyam8 commented on #148
I think yes, we need to update it, what we have no is confusing.

[2020-09-29 01:25] fzyzcjy commented on #148
@ilyam8 Thanks and looking forward to that update!

[2020-09-29 05:25] prologic commented on #74
This is ready now and awaiting review #152 and #153

[2020-09-29 08:50] #146 closed

[2020-09-29 09:04] knatsakis commented on #124
Thanks. I did that too. 🙇🏻

I have merged and deployed multihost dbegnine today, so we can start counting two weeks from 29/09/2020

[2020-09-30 11:11] ncmans commented on #144
GPU monitoring for prometheus:

https://github.com/yahoojapan/gpu-monitoring-exporter

[2020-09-30 11:20] ncmans commented on #148
We should only need:

- CAP_SYS_PTRACE
- Unconfined app-armour
- Passthrough `/proc`, `/sys`, `/`

Needs further investigation. We may be able to disable `privileged: true` in https://github.com/netdata/helmchart/blob/5fdfc74807c2a0ff707bb7ccd2ad0e425597e4b9/templates/deployment.yaml#L46

[2020-10-01 03:11] fzyzcjy opened #156 "Prometheus not shown in netdata dashboard"
Hi thanks for the updated feature of promethus scraping! However when I view the dashboard, I do not see anything related to it :/

1. `cat /etc/netdata/go.d/sd/go.d.yml`

[code]

2. `cd /usr/libexec/netdata/plugins.d` then `./go.d.plugin -d -c /etc/netdata/go.d/sd/go.d.yml -m prometheus` (Thanks to @ilyam8 's suggestion https://github.com/netdata/helmchart/pull/137#issuecomment-691817419)

[code]

[2020-10-01 08:14] ilyam8 commented on #156
Hi @fzyzcjy, yes these are pods. And it is a section per pod, so if you have many it is hard to navigate/find something (known problem).

Prometheus jobs, if they are up and running, should be below the pods. Name should start with `prometheus...`

Like

---

Well, we see that 8 endpoints were discovered (data in `/etc/netdata/go.d/sd/go.d.yml`). We see they are valid and those enpoints are access

[2020-10-01 10:47] #74 closed

[2020-10-01 13:50] fzyzcjy commented on #156
@ilyam8 Thanks very much! I will have a try very soon.

[2020-10-01 23:55] fzyzcjy commented on #156
![image](https://user-images.githubusercontent.com/5236035/94874434-8fd18800-0484-11eb-8c28-61cff69d8c6e.png)

[2020-10-02 03:29] fzyzcjy opened #159 "Suggestions after using kubernetes linter"
Hi thanks for this wonderful chart! When using the Polaris k8s linter, I see the following issues which can be improved.

Of course, some things should be just ignored (e.g. netdata needs host pid). But for other things, such as readonly filesystem, maybe the chart can be upgraded :)

![image](https://user-images.githubusercontent.com/5236035/94885283-61fb3c00-04a2-11eb-81e9-ff6fd1e485c7.png)

![i

[2020-10-02 07:51] ilyam8 commented on #156
There is nothing wrong in the logs. Did you wait? It is 2 `update_uvery` before data appears. In this case it is 20 seconds.

[2020-10-02 13:27] fzyzcjy commented on #156
Yes I waited for minutes, but still see nothing :/ Thanks for your reply!

[2020-10-02 15:25] ilyam8 commented on #156
lets check related `go.d` logs

[2020-10-03 11:57] fzyzcjy commented on #156
Thanks very much! I will check it soon

[2020-10-04 03:46] DylanDKnight commented on #122
I seem to be having a similar issue; the node will show up in netdata cloud for around a minute and allow me to view the logs of the netdata before dropping off.

![netdatalogs](https://user-images.githubusercontent.com/17187287/95006396-0ba21080-05fc-11eb-94d2-0af38cdaca35.PNG)

Then it will switch to UNREACHABLE:

![unreachable](https://user-images.githubusercontent.com/17187287/95006413-342a0a8

[2020-10-04 03:53] DylanDKnight opened #161 "Similar issue to #122 - Deployment Issue/System only stays up for minutes."
I seem to be having a similar issue to https://github.com/netdata/helmchart/issues/122; the node will show up in netdata cloud for around a minute and allow me to view the logs of the netdata before dropping off.

I am on agent v1.25.0 and running on GCP Kubernetes, v1.16.13-gke.1

![netdatalogs](https://user-images.githubusercontent.com/17187287/95006396-0ba21080-05fc-11eb-94d2-0af38cdaca35.PNG)

[2020-10-04 08:32] OdysLam commented on #161
Welcome to our community! I am so sorry that you are experiencing this issue, but we will get to the bottom of this! 🙇‍♂️

Thank you for providing so detailed bug details, it will greatly speed up the triaging :)

cc @cakrit because you seem to have insight on issue #122 , cc @prologic because ✌️😅

[2020-10-05 03:37] woojeonghoon commented on #144
I solved it by correcting the image

[2020-10-05 03:37] #144 closed

[2020-10-05 10:32] knatsakis commented on #161
This line from the logs https://gist.github.com/DylanDKnight/7c9d73459eb64211d4298a65d14d11a2#file-gistfile1-txt-L333 looks to be related to whatever the root cause is.

@underhood @netdata/agent can you help with this? What could cause the entry above in the logs?

[2020-10-05 10:51] stelfrag commented on #161
The entry is normal. There is no negotiation at this point so the default (fallback) version is 2. The agent shuts down after receiving a signal at

`2020-10-04 03:26:51: netdata INFO : MAIN : SIGNAL: Received SIGTERM. Cleaning up to exit...`

[2020-10-05 12:29] knatsakis commented on #161
@DylanDKnight it could be the case that kubernetes kills the parent's pod because the liveness/readiness probes do not succeed after 90 seconds.

The default liveness/readiness probe thresholds are 90 seconds as seen here: https://github.com/netdata/helmchart/blob/master/charts/netdata/values.yaml#L76

The timestamps in your logs almost match, seeing that the pod initializes around 2020-10-04 04:2

[2020-10-05 13:16] DylanDKnight commented on #161
@knatsakis

I increased the liveness/readiness probe.

The pods do stay up longer now, but still suffer the same issue.

Parent Logs: https://gist.github.com/DylanDKnight/02e1f3e9317306daf56f8a701f69682a

![netdatacloudscreenshot](https://user-images.githubusercontent.com/17187287/95084069-48155f80-0715-11eb-8a75-321dbd33a770.PNG)

[2020-10-05 13:32] DylanDKnight commented on #161
I have managed to get it to stay up.

I changed `--set service.port=19998` back to `--set service.port=19999` and the liveness/readiness probe is now succeeding.

[2020-10-05 13:49] DylanDKnight commented on #161
now it appears to have the same issue as before:

[code]

[2020-10-05 20:24] DylanDKnight commented on #161
So digging in a bit further to the logs.

The first log on startup is:
`netdata ERROR : MAIN : Ignoring host prefix '/host': path '/host' failed to stat() (errno 2, No such file or directory)`

The last log before a crash is:
`netdata LOG FLOOD PROTECTION too many logs (201 logs in 30 seconds, threshold is set to 200 logs in 1200 seconds). Preventing more logs from process 'netdata' for 1170 secon

[2020-10-06 20:42] DylanDKnight commented on #161
Another thing to add to the issue.

When I only had MongoDB, Redis & PGBouncer deployed, Netdata ran without crashing, as soon as we deployed some of our in-house applications, it crashed.

[2020-10-07 13:54] knatsakis commented on #161
@DylanDKnight I could reproduce the issue by setting `service.port` to `19998`. I am trying to find a fix..

[2020-10-07 22:14] DylanDKnight commented on #161
@knatsakis Nice,

I switched the port back to 19999, and that fixed that issue for me.

Although, I still see this in the logs:
`2020-10-07 22:04:08: netdata ERROR : MAIN : LISTENER: Invalid listen port 0 given. Defaulting to 19999. (errno 22, Invalid argument)`

The current issue I am having is:

`2020-10-07 22:04:19: netdata LOG FLOOD PROTECTION too many logs (201 logs in 10 seconds, threshold i

[2020-10-08 00:04] DylanDKnight commented on #161
So this to 2000000
[code]

and via the logs, it looks like it is now trying to collect metrics/charts.

[code]

but there is a lot of these kind of logs:

[code]

and it crashes with:

[code]

[2020-10-08 14:09] fzyzcjy commented on #156
Hi sorry for the late reply! I reproduced the problem, and here is the full log file, such that it can be easily `grep` to find out whatever is needed :)

[Uploading logs-from-netdata-in-netdata-child-vk6qx.txt…]()

[2020-10-08 14:24] ilyam8 commented on #156
Ok, i expecte it

`go.d.plugin` get `SIGPIPE` and `exit 1`, i have no clue why there is `SIGPIPE`.

Netdata has restart a plugin feature. I [changed exit code to `0`](https://github.com/netdata/go.d.plugin/pull/450).

I can create a custom netdata image with latest go.d.plugin and you test it, sounds good?

[2020-10-08 14:35] fzyzcjy commented on #156
Thanks for the reply! I can test it (possibly tomorrow).

[2020-10-08 18:46] knatsakis commented on #161
Hi @DylanDKnight, let me try to address all the issues that you mentioned, one by one.

The
[code]
error, although harmless, should be resolved by netdata/netdata#10045 above.

I am still working on the rest of the issues.

[2020-10-08 19:44] DylanDKnight commented on #161
@knatsakis Not a problem, sorry for adding a chunk to your backlog! aha.

If you need me to do any digging on my end, let me know.

[2020-10-09 09:08] ilyam8 commented on #156
@fzyzcjy https://github.com/netdata/netdata/pull/10046 is going to get merged today, so you can just try latest (netdata/netdata || netdata/netdata:latest) tomorrow.

[2020-10-09 13:01] fzyzcjy commented on #156
@fzyzcjy Sounds great! So I just need to change docker image name to `netdata/netdata:latest` right?

[2020-10-09 13:04] ilyam8 commented on #156
Yes (dont forget to switch back to the stable image after the tests ☝️ )

[2020-10-09 22:17] fzyzcjy commented on #156
@ilyam8 Get it. Thanks!

[2020-10-11 06:26] fzyzcjy commented on #156
Hi, here is the log of netdata child with `:latest`
[logs-from-netdata-in-netdata-child-pm4th.txt](https://github.com/netdata/helmchart/files/5360675/logs-from-netdata-in-netdata-child-pm4th.txt)

[2020-10-11 07:03] ilyam8 commented on #156
Same logs (because we `grep "go.d"`), go.d.plugin should be restarted after

grep -i plugins.d

[2020-10-11 08:26] fzyzcjy commented on #156
@ilyam8 Sorry I do not fully get it. I uploaded *all* logs generated by netdata child without any grepping. So what should I do?

[2020-10-11 11:43] ilyam8 commented on #156
Yes, you are right.

I see

[code]

I dont understand why there is no https://github.com/netdata/netdata/blob/861a951bf4e24fdfe84110f206f9c1d9e38c9086/collectors/plugins.d/plugins_d.c#L172-L179

and why i have no ` connected to '/opt/netdata/usr/libexec/netdata/plugins.d/go.d.plugin' running on pid`

[code]

[code]

[2020-10-12 00:21] fzyzcjy commented on #156
@ilyam8 Er maybe I just re-run it again today and give another log.txt?

[2020-10-12 09:04] milindchawre commented on #74
@prologic  Is it done? I don't see new installation steps in the [README.md](https://github.com/netdata/helmchart/blob/master/README.md#installing-the-chart) file.

[2020-10-12 10:58] knatsakis commented on #74
Hi @milindchawre.

This is done, indeed. Kindly find the instructions here: https://netdata.github.io/helmchart/. #163 should also add a pointer to this in README.md.

[2020-10-12 15:35] ilyam8 commented on #156
Yes, please do

[2020-10-12 19:33] cakrit commented on #130
@ncmans no need to ask for my input in these, you own it and know what's best. Just please no matter what you do, maintain the zero configuration principle with the default settings. i.e. a user should not HAVE to modify any settings, in order to get netdata installed and working.

[2020-10-13 00:48] fzyzcjy commented on #156
@ilyam8 I am experimenting it with minikube on local machine, so only 1 node. I will re-run it soon since I am busy with some tasks currently

[2020-10-13 10:38] milindchawre commented on #74
Thanks @knatsakis for pointing it out.

[2020-10-13 12:40] knatsakis commented on #124
@cakrit as we have discussed there are performance issues with dbengine's metadata logs.

What do you think we should do here?

I think we should put this issue on ice until the above are resolved.

[2020-10-14 12:03] ncmans opened #165 "Add readiness and liveness probes to child sd containers"
From https://github.com/netdata/helmchart/issues/159

[2020-10-14 17:53] #116 closed

[2020-10-14 20:57] kam1kaze commented on #74
@knatsakis @prologic the instruction from https://netdata.github.io/helmchart/ doesn't work :)

[code]

Domain helm.my-netdata.io could not be resolved:

[code]

[2020-10-15 07:44] knatsakis commented on #74
Oh, sorry about that.

The correct command is:
[code]

(Fixed by #168)

[2020-10-15 07:53] knatsakis commented on #161
Hey @DylanDKnight,

v2.0.11 of the helm chart (with appVersion v1.26.0) should contain all the relevant fixes.

Could you try it and let me know?

Thanks

[2020-10-15 14:45] knatsakis commented on #121
Hi @P1ng-W1n,

Thanks a lot for your suggestions!

You second suggestion is now part of the Helm chart (only it's NETDATA_LISTENER_PORT now instead of NETDATA_PORT). It has been fixed in #162.

Re: your first suggestion, #169 should address it.

Please have a look, and let me know if you how any further thoughts or suggestions.

[2020-10-15 19:50] DylanDKnight commented on #161
I did a clean clone, and install.

So log wise it there are fewer errors.

But it still appears to fall over every few minutes, the only logs I can see that have any errors in I have included below.

I also still don't see any charts apart from netdata charts in netdata.cloud.

If there is anything, in particular, I should look for/grab let me know
[code]

[2020-10-17 04:42] fzyzcjy commented on #156
Sorry for being late. I am busy with some frontend issues so do not touch ops for days. I run it again today, and here is the new log. I tried to grep it but still not find the log you mentioned :/ I also attached my helm chart as the zip.
[netdata.zip](https://github.com/netdata/helmchart/files/5394999/netdata.zip)
[logs-from-netdata-in-netdata-child-kbttv (2).txt](https://github.com/netdata/helm

[2020-10-20 14:15] cakrit commented on #124
If we can't have a default setting with a short enough retention to prevent performance issues, then I totally agree, we should wait for the metadata persistence improvements on the agent. k8s is special in that we know we'll have a parent node with a potentially very high number of child nodes streaming metrics to it, so an issue that doesn't normally appear on individual agents is magnified a lo

[2020-10-21 10:51] ilyam8 commented on #156
I will do some test in our testing gke env (have no such issue in my own small gke 2 nodes cluster)

[2020-10-21 12:29] knatsakis commented on #161
@DylanDKnight,

Unfortunately, I am not able to reproduce the issue. I have used a freshly cloned repo and installed netdata with:

[code]

It stays up after that.

Could you upload the full netdata parent logs somewhere, preferably from start to finish?

Also output from

[code]

may show k8s events that maybe relevant.

Thanks!

[2020-10-21 14:40] DylanDKnight commented on #161
I pulled fresh and did a clean install.

Logs CSV, I just pulled a load, as it's hard to see where it is falling over.

[netdatalogs.xlsx](https://github.com/netdata/helmchart/files/5416662/netdatalogs.xlsx)

Netdata Parent Describe
[code]

[2020-10-22 00:12] fzyzcjy commented on #156
@ilyam8 Sorry for this strange issue. I will also try on another cloud-based k8s env later when I have access to it

[2020-10-22 13:45] knatsakis commented on #78
All done: https://artifacthub.io/packages/helm/netdata/netdata

[2020-10-22 13:45] #78 closed

[2020-10-24 09:00] knatsakis commented on #121
@P1ng-W1n, I consider this issue resolved so I am closing it.

Feel free to re-open if you have further comments.

Thanks!

[2020-10-24 09:00] #121 closed

[2020-10-24 13:32] fzyzcjy opened #176 "No chart is showing - exactly *zero* metrics/charts/alerms/nodes?"
##### Bug report summary

After installation, netdata shows exactly zero charts... So no chart is on the screen...

![image](https://user-images.githubusercontent.com/5236035/97082833-18d07f00-163f-11eb-9978-a83e36a43717.png)

**Note** (that maybe helpful to debug)

0. I am using Netdata Helm chart on Kubernetes.
1. Here is the log of netdata child and netdata parent:
[netdata-child.log](https://g

[2020-10-27 15:35] ilyam8 commented on #176
Hi @fzyzcjy

That screenshot is from netdata parent, right? If so it is expected

[2020-10-28 01:40] fzyzcjy commented on #176
Hi, I spent some time digging around and finally realized that the screenshot is netdata *child* - I wrongly use NodePort listening on 19999 so actually I go to the child panel. Then since the child set `memory mode = none`, it stores nothing and displays nothing. So actually this is not a bug but a misuse. Silly me...

[2020-10-28 01:40] #176 closed

[2020-10-28 07:27] ilyam8 commented on #176
Yes yes, same for the parent dashboard (it doesn't collect any data).

<img width="1418" alt="Screenshot 2020-10-28 at 10 25 59" src="https://user-images.githubusercontent.com/22274335/97404982-06d53180-1908-11eb-9630-742d5b733cb0.png">

[2020-10-29 11:32] ilyam8 commented on #156
Ok, i did tests in our testing env and noticed that `go.d` process is not up in child nd containers.

Checked logs and found

[code]

I didn't know that there is hard limit for [`type.id`](https://learn.netdata.cloud/docs/agent/collectors/plugins.d#chart) chart field. It is 200 chars.

---

In my case `go.d` create the chart but its `type.id` length is 205, so netdata `plugins.d` disables the whol

[2020-10-29 12:25] ncmans commented on #114
Given #116 is closed by a PR, is this issue resolved now?

[2020-11-05 16:20] knatsakis commented on #124
Given the performance issues that we have been having with DBEngine I am inclined to say that a short retention will not help. We had a 6 hour retention and still had issues.

I am inclined to close this and open a new issue when the SQLite backend becomes available.

[2020-11-05 16:20] #124 closed

[2020-11-16 06:09] kam1kaze commented on #124
hey, I've switched to dbengine a week ago and faced with the issue when the memory constantly growing. As I understand it's due to ephemeral metrics https://github.com/netdata/netdata/issues/9920.

[code]

Are there any options to clear the old cache?

P.S. Also I do not see any dbengine related charts on the parent node. Should I manually enable it in config https://github.com/netdata/helmchart/b

[2020-11-25 22:45] knatsakis commented on #72
This is now done: https://artifacthub.io/packages/helm/netdata/netdata (ArtifactHub is the successor to Helm Hub)

[2020-11-25 22:45] #72 closed

[2021-02-02 08:49] fzyzcjy opened #187 "Netdata Docker container error loading shared library libprotobuf.so.24, after upgrading from 1.26 to 1.28"
Hi thanks for the lib! When using the helmchart, I see the following problem. Thus the netdata cannot be started...

[code]

[2021-02-02 09:15] ilyam8 commented on #187
Hi @fzyzcjy! Thx for reporting. Indeed, i confirm the problem. I see [v1.28.0 was updated 8 hours ago](https://hub.docker.com/r/netdata/netdata/tags?page=1&ordering=last_updated) for some reason and having same problems as netdata/netdata:latest.

Closing this issue as [duplicate](https://github.com/netdata/netdata/issues/10582), it is not helmchart bug.

`v1.28.0.226.latest` tag has not problems,

[2021-02-02 09:15] #187 closed

[2021-02-02 10:18] fzyzcjy commented on #187
@ilyam8 Thanks! I will do so.

[2021-02-02 13:25] fzyzcjy opened #188 "Supporting Springboot2 and Redis module (since they are go.d.plugin now)?"
Hi thanks for the lib! I wonder whether the springboot2 module can be auto discovered? Because it is also a go.d plugin, so IMHO it should be able to be configured easily.

Espeically, when I look at the [source code](https://github.com/netdata/go.d.plugin/blob/master/modules/springboot2/springboot2.go), it seems to be *soooo* simple that it seems to have no extra magic on its own! Thus IMHO it co

[2021-02-02 16:47] ilyam8 commented on #188
Hi @fzyzcjy!

Let me give you a brief description how servicy discovery works:
 - it is a separate container running within netdata pod.
 - [that is service discovery app](https://github.com/ilyam8/agent-service-discovery#service-discovery).
 - that is [default sd configuration](https://github.com/netdata/helmchart/blob/master/charts/netdata/sdconfig/child.yml).

`sd` gets notified about all creat

[2021-02-03 01:02] fzyzcjy commented on #188
@ilyam8 Hi thanks for the reply! So IMHO we can just create a custom annotation and let the users to put the annotation on their apps. Just like the prometheus annotation, we can do something like:

[code]

Or, maybe another way is, add a configurable section in the `Values.yaml` of this helmchart, and let the user to decide what annotations to add.

[2021-02-03 08:22] fzyzcjy opened #189 "How to allow the *parent* NetData to collect metrics?"
Thanks for the lib! I want to collect metrics such as Redis and MySQL. We know netdata helmchart cannot automatically discover those redis instances, so I need to write down the location (url) of each redis instance in the configuration.

I do it in the parent data, since parent is a deployment with only 1 replica. If I do it in child netdata, then *each* child will collect the redis/mysql metrics

[2021-02-03 09:45] fzyzcjy commented on #188
By the way, I suddently see that there is a new Redis plugin in go.d.plugin! Thus IMHO we could easily do auto discover for it?

[2021-02-03 13:29] fzyzcjy commented on #189
Ah I see the problem... My original configuration is like:

[code]

AND IT IS THE PROBLEM WITH COMMENTS! Strangely `go.d = yes # NOTE with some comments here` is NOT allowed. and will be regarded as `no`......

Change to `go.d = yes` then ok.

[2021-02-03 13:46] ilyam8 commented on #189
@fzyzcjy hi

Netdata k8s setup is parent/[deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) and children/[daemonset](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/). Parent netdata doesn't collect any metrics for a reason - there is netdata child instance on the same host and it is responsible for metric collection.

go.d.plugin static configu

[2021-02-03 13:48] fzyzcjy commented on #188
OK I have done the springboot2:

[code]

[2021-02-03 13:50] ilyam8 commented on #189
How to check created by service discovery go.d configuration file

[code]

[2021-02-03 14:19] fzyzcjy commented on #189
@ilyam8 Thanks for the reply!

I have successfully mange to do the MySQL part using NetData Parent. I have to use parent, because netdata child run on *each* host. And my MySQL is an (external) *service*, not a *pod*. So if each netdata child scrapes that MySQL service, the mysql will be scraped N times instead of 1 time.

Now the problem, as you have mentioned, comes to the **password problem**.

[2021-02-03 14:31] ilyam8 commented on #188
@fzyzcjy

It can, if your env var points to a secret (`secretRef`), [then `sd` extracts and decodes it from the secret](https://github.com/netdata/agent-service-discovery/blob/1b4bf11775bf2bd831cf92189f96d215a6595349/pipeline/discovery/kubernetes/pod.go#L210-L219).

So we can get them from `.Env`

or even (i dont remember golang template syntax 😅 )

[2021-02-03 14:33] fzyzcjy commented on #188
@ilyam8 Aha! So great! `sd` is more powerful than I thought :) I will have a try

[2021-02-03 14:38] ilyam8 commented on #188
@fzyzcjy if i remember it correctly it is possible to put `sd` config in the `ConfigMap` so it is easier to change/test it. Then you can `kubectl edit ..` the map and `sd` realoads if there are any changes.

Also it should be possible to test it locally while tuning with your config. If you need a guide let me know!

[2021-02-03 14:41] fzyzcjy commented on #188
It works! Thank you so much!

![image](https://user-images.githubusercontent.com/5236035/106762566-ea683400-6670-11eb-8638-8fd7755a01ac.png)

[2021-02-03 14:41] #188 closed

[2021-02-03 14:41] #189 closed

[2021-02-03 14:46] ilyam8 commented on #188
@fzyzcjy is that child instance? i wonder why there are so many redis instances. A child instance supposed to collect data from the containers running on the same k8s node.

[2021-02-03 14:47] fzyzcjy commented on #188
@ilyam8 Yes child instance. That is very normal, because I have 6 redis instance on *this* node (as a prod environment but only in the very early stage so put everything in one or two machines).

[2021-02-03 14:49] ilyam8 commented on #189
Yes, it it the plan.

No no a child instance **collects data from the pods running on the same host only**.

See
https://github.com/netdata/helmchart/blob/33fc823fe4650d64c1483a39b273e1d5430f77e2/charts/netdata/sdconfig/child.yml#L1-L6

`local_mode: true` means watch only for local node pod events

[2021-02-03 14:51] ilyam8 commented on #189
Wrong metrics then:

 - scrape1: => mysql instance0
 - scrape2: => mysql instance1
 - scrape3: => mysql instance1
 - scrape4: => mysql instance0
 - ...

[2021-02-03 14:53] ilyam8 commented on #188
Ok, nice you get it working so quickly 😄 👍

[2021-02-03 15:14] ilyam8 commented on #156
Fixed in https://github.com/netdata/netdata/issues/10164

[2021-02-03 15:14] #156 closed

[2021-02-04 00:33] fzyzcjy commented on #189
@ilyam8 Thanks for the reply. However, my MySQL is an external *service*, not a pod. Thus it is not specific to a single *node*. e.g.

[code]

Anyway, I have managed to do it in parent netdata :)

[2021-02-04 06:52] ilyam8 commented on #189
I see, for that case i added [role: service](https://github.com/netdata/agent-service-discovery#service-role) to `sd`, i was thinking setup would be - child `netdata` with `sd` role:pod and parent `netdata` with `sd` role:service. But we never really tested service discovery for a parent and our helmchart even has no such option.

[2021-02-06 07:13] fzyzcjy opened #191 "Cannot read disk space usage metrics (which is important because we should alert when disks become full)"
Hi thanks for the lib! I find the "disk" section incomplete. It does not have `disk_spaces._`/`disk_usages._` chart for most of the disks (e.g. `sda`, `sdb`, ... and `dm-1`, `dm-2`, ... It only has that for a few disks like `/`.

I guess it is related to permission problems. Possibly related (not sure): https://github.com/netdata/netdata/issues/3716. But I do not have any ideas on how to solve thi

[2021-03-19 05:51] nnthuanegany opened #197 "pod has unbound immediate PersistentVolumeClaims."
# Environment

- [Deploy Kubernetes monitoring with Netdata](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kubernetes)
- Digital Ocean Kubernetes

# Steps

**Step 1:** Install the Netdata Helm chart

[code]

**Step 2:**

[code]

**Step 3:**

[code]

**ERROR**:  `pod has unbound immediate PersistentVolumeClaims.`
 - netdata-parent-alarms
 - netdata-parent-database

# My solutio

[2021-04-01 18:08] zzvara opened #199 "Clarification of how to override alarm rules"
Dear Community,

I have been struggling with how to override the alarm rules on our Netdata deployment running on 3 of our Kubernetes clusters. We are using the Cloud as well to integrate all dashboards into one. Pretty neat.

However, could not find a clear description of how to override the rules that drive alarms. Here is an example:

![image](https://user-images.githubusercontent.com/8371789/1

[2021-04-02 17:31] ilyam8 commented on #188
@fzyzcjy

[code]

I was thinking about it and it looks like better/cleaner approach then [try to guess using port/whatever](https://github.com/netdata/helmchart/blob/c1266c99490d080c69f21d6ab444471a2d14a2e0/charts/netdata/sdconfig/child.yml#L20-L23).

Just add annotation based discovery (e.g [wavefront](https://github.com/wavefrontHQ/wavefront-collector-for-kubernetes/blob/master/docs/discovery.md

[2021-04-03 00:22] fzyzcjy commented on #188
@ilyam8 Good idea :)

[2021-04-20 08:13] rjbaat opened #204 "No k8s data showing up in cloud"
Hi All,
I setup the Netdata Agent by the helm chart following the default setup and video on YouTube: https://www.youtube.com/watch?v=-VFq_VtBwOc

There is an child and parent agent and data is showing on the cloud. But It looks like only performance metrics for the operation of netdata itself and its plugins is showing up. So only: web, statsd and aclk.

What do I need to do to get also the whole

[2021-04-20 08:14] ilyam8 commented on #204
Hi @rjbaat 👋

You have only netdata parent claimed, correct?

[2021-04-20 08:17] rjbaat commented on #204
Yes I put in the claim token twice. For both parent and child in the helm chart. Like:

[code]

[2021-04-20 08:58] rjbaat commented on #204
btw iam seeing more when doing a port forward like:

`kubectl port-forward svc/netdata 19999:19999 -n netdata`

Could it be that the cloud can't reach the child nodes?

[2021-04-22 13:08] rjbaat commented on #204
Anyone? How can I get the child data visible on the cloud? Is there a firewall rulle I need to open or something? So data from the child can be streamed to the cloud or browser?

[2021-04-22 16:03] digitalcraig commented on #204
I'm having this exact same issue. I see a parent node only in cloud even though I specified the token and room for both. Only web, statsd, and aclk show under parent as well.

[2021-04-29 20:35] alechartung commented on #204
I think I ran into this as well when upgrading from 1.29.x to 1.30.1.

[2021-05-04 09:17] acuteaura opened #206 "serviceaccount.create = false doesn't work"
the SA name is hardcoded into the deployment regardless, so all you get it a stuck replicaset

[2021-05-04 10:38] ilyam8 commented on #204
Hi, guys 👋 Sorry for the late response.

Yes, we need children instances claimed in order to see them on the Cloud. Cloud fetches data directly from the claimed nodes - despite the fact that the children's data is stored on the parent node we need children to have that data too.

So we need:
 - set claiming parameters: enabled, token, and rooms.
 - change memory mode to `dbengine` or `ram`.

Defau

[2021-05-04 10:42] ilyam8 commented on #204
The following is tested on my k8s cluster in GKE (it is a potato cluster, so I need to set _resources.requests_, you don't need it).

<details>
<summary>override.yaml [Click]</summary>

[code]

</details>

<img width="1344" alt="Screenshot 2021-05-04 at 13 41 54" src="https://user-images.githubusercontent.com/22274335/116992321-7fb1ad80-acde-11eb-85b8-042fae9d38da.png">

[2021-05-04 10:44] ilyam8 commented on #204
That is expected, the parent node doesn't collect any data (children instances do it). There are only internal metrics.

[2021-05-04 12:05] ilyam8 commented on #206
Hi @acuteaura

Let's see [our docs](https://github.com/netdata/helmchart#configuration)

Our manifests

## serviceaccount.yaml

We create `ServiceAccount` only if `serviceAccount.create` is `true` - so far our docs are correct.

https://github.com/netdata/helmchart/blob/7f32dada6c881122ecbab79ec19df398dea3cfa8/charts/netdata/templates/serviceaccount.yaml#L1-L11

## clusterrolebinding.yaml

Regardl

[2021-05-04 12:47] acuteaura commented on #206
We use only the parent netdata as a streaming endpoint with all collectors disabled for machines doing CI outside a cluster and then scrape the data with prometheus, so there is no need for our instance to ever call the kubernetes API.

[2021-05-04 12:57] ilyam8 commented on #206
So your setup is parent installed inside k8s and children directly on hosts and they stream to the parent?

If so, perhaps this will do:
 - rbac.create: false
 - serviceAccount.create: false
 - serviceAccount.name: default

[2021-05-04 18:30] ilyam8 commented on #199
Hi, @zzvara 👋 Sorry for the late reply.

Could you provide some examples? We can tune our default alarms if there are any problems.

Same works for k8s. For instance, if I want to overwrite [health.d/cgroups.conf](https://github.com/netdata/netdata/blob/master/health/health.d/cgroups.conf) on the parent node:

 - create overwrite.yaml with my `cgroups.conf`

<details>
<summary>overwrite.yaml [Clic

[2021-05-04 19:21] zzvara commented on #199
Well, we have problems with runaway AI models that eat up a lot of memory:

- sigma04 is critical, cgroup_k8s_cntr_development_fnp-backend-inference-fnp-backend-inference-0-classifier-5wmq4h_classifier.mem_usage (mem), cgroup ram in use = 98.5%

Also frequent packet drops:

- sigma03 needs attention, net_drops.br0 (br0), inbound packets dropped = 30 packets

Frequent disk utilization due to peaks:

[2021-05-04 19:39] ilyam8 commented on #199
We adjusted a lot of alarms in the latest stable

We removed `warn`/`crit` triggers from [inbound_packets_dropped](https://github.com/netdata/netdata/blob/924bf118e59ddf72052b75f43c3eb7ef13afe693/health/health.d/net.conf#L64-L75) alarm, so no notifications anymore. It is used in [inbound_packets_dropped_ratio](https://github.com/netdata/netdata/blob/924bf118e59ddf72052b75f43c3eb7ef13afe693/health/

[2021-05-05 07:48] ilyam8 commented on #199
Perfect. If you have any more questions do not hesitate to ask!

[2021-05-05 07:48] #199 closed

[2021-05-06 08:44] acuteaura commented on #206
That'd work, I guess I just expected it to work differently.

Unfortunately our use case went far far outside the scope of this helm chart, so I had to fork and hardcode some things. I'm hoping I can generalize some of those changes eventually (multiple ports, mostly) and upstream it eventually.

Thanks for your time.

[2021-05-06 08:44] #206 closed

[2021-05-06 08:49] ilyam8 commented on #206
Have you considered creating an issue(s)?

If you don't feel like doing it now - would be nice to know what you had to hardcode, can you tell?. I am really curious!

[2021-05-06 09:27] acuteaura commented on #206
We need to allow streaming from the internet, while restricting access to the other parts that are usually on the same listener. We figured out to late streaming was not actually encapsulated by HTTP, so we couldn't use our usual authentication mechanisms (IAP Proxy). ACLs weren't a great solution either because the service CIDR range is not always the same and Google LBs - if they don't use the P

[2021-05-06 09:40] ilyam8 commented on #206
Thanks for sharing!

[2021-05-17 10:21] knatsakis commented on #204
Hi @rjbaat,

Do @ilyam8's suggestion solve the issue? Can we close this?

[2021-05-17 10:26] ilyam8 commented on #204
I think yes, I've tested Netdata parent/children claiming and spotted few errors in the @rjbaat config (see detailed desciption https://github.com/netdata/helmchart/issues/204#issuecomment-831845228).

[2021-05-17 10:26] #204 closed

[2021-05-17 10:27] ilyam8 commented on #204
@rjbaat @digitalcraig @alechartung if there are still any problems feel free to comment, we will debug and fix them.

[2021-05-17 21:39] mbuczko commented on #161
Interestingly, I see almost the same sympthoms having the:
[code]
in the config following config (netdata-values.yaml):

[code]
which I use to update values via `helm upgrade -f netdata-values.yaml netdata netdata/netdata`

[2021-05-24 21:53] data-dude commented on #90
I see this still isn't fixed.  I guess few people that run it in Kubernetes persist to disk.

[2021-05-25 19:00] ilyam8 commented on #90
Hey @data-dude

What's your Kubernetes version? Could you provide the helm install command you used and/or values you passed to the chart?

[2021-05-25 19:08] data-dude commented on #90
Kubernetes 1.18.6
I discovered it's a problem when I store data using Gluster storage.  If I store to a local storage storage class then it's not a problem.
It's weird to me that the back end storage would somehow be tied to a permission issue.

[2021-05-27 09:37] chrisDeFouRire commented on #197
I had the same issue with  the `netdata-parent-alarms` PVC only, chart version 3.6.9

It's because DO doesn't allow volumes < 1Gi.
I fixed it with

[code]
in my override.yaml

[2021-05-27 09:59] ilyam8 commented on #197
Thanks, @chrisDeFouRire. You are correct! The allowed range is [1 GiB to 16 TiB](https://docs.digitalocean.com/products/volumes/). We either need to make a note for DO users in the readme or change the alarm volume size to 1Gi.

[2021-05-27 16:07] ilyam8 commented on #197
Ok, I see 1Gi is a minimal storage size for GKE too. But requesting less is not an error.

[code]

I guess we will change alarms pvc default then.

[2021-05-31 22:38] knatsakis opened #215 "Add cpu and memory requests and limits to child sd containers"
SSIA

[2021-06-01 11:33] ilyam8 commented on #215
`sd` container needs
- CPU: a little, it doesn't do any CPU intensive operations
- memory: depends on the number of pods on the node and config maps (more objects => more memory). I think 150Mi is super safe.

<details>
<summary>See sd current memory usage in prod</summary>

[code]

</details>

[2021-06-01 14:04] #197 closed

[2021-06-02 17:00] themadmrj opened #217 "[Docs] Example showing how to add plugin"
Having installed netdata on my k8s cluster with the helm chat, I'm looking to connect my remote database to it (and my uwsgi/asgi app), but I couldn't find a comprehensive example showing how to configure the default `override.yaml` to add such a service. I think that would be very helpful (I for one would need it).

[2021-06-10 09:05] ilyam8 commented on #217
Hi @themadmrj

Can you elaborate a bit? What plugin do you want to add? Why do you need to connect to your remote database? What database is that?

[2021-06-10 09:31] themadmrj commented on #217
Thanks for the reply @ilyam8
I want to add the python/postgres [plugin](https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/postgres) to monitor my remote postgresql database. I would like to check requests/sec or /min or memory usage.

[2021-06-10 09:48] ilyam8 commented on #217
Does _remote_ mean external to the Kubernetes cluster?

[2021-06-10 09:49] themadmrj commented on #217
Yes

[2021-06-10 09:55] ilyam8 commented on #217
@fzyzcjy could you help here? Looks like the same problem you solved in https://github.com/netdata/helmchart/issues/189#issuecomment-772933216

[2021-06-10 11:27] fzyzcjy commented on #217
@ilyam8 sure. here is my config:

[code]

where my mysql host is a service like mentioned by ilyam8:

[code]

[2021-06-14 10:35] #215 closed

[2021-06-14 10:35] KonstantinosPapazis commented on #215
Done

[2021-06-16 06:52] chefcook opened #221 "Monitoring Ingress HTTP traffic from all namespaces."
I found the following item on the Netdata documentation page.
https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/httpcheck/

After that I tried to list this plugin in my Values.yaml and start a helm upgrade.

[code]

Unfortunately without success. Do you have any suggestions how to achieve this goal ?

Eventuel also interesting to know. My service discovery looks like this.

![image

[2021-06-17 20:50] KonstantinosPapazis commented on #165
Not applicable.

[2021-06-17 20:50] #165 closed

[2021-06-28 11:44] ilyam8 commented on #221
Hi @chefcook

There is a brief description of how service discovery works:
 - parent instance has no service discovery.
 - children instances have a service-discovery sidecar that works in [local mode](https://github.com/netdata/agent-service-discovery#kubernetes); has [role pod](https://github.com/netdata/agent-service-discovery#pod-role) enabled => it supports discovering only the services that

[2021-06-28 11:44] #221 closed

[2021-07-05 17:40] 0xF4D3C0D3 opened #223 "how to disable signup button? (or aclk)"
refer to https://github.com/netdata/netdata/issues/9561

it seems that /etc/netdata is readonly fs so I couldn't make use of edit-config for /etc/netdata/cloud.d
according to [disable-the-aclk](https://learn.netdata.cloud/docs/agent/aclk#disable-the-aclk) I have two options

but I think I can't go with the first way (if it can please let me know I'm new to k8s)
then, can I disable aclk at runtime?

[2021-07-06 08:46] ilyam8 commented on #223
Hi, @0xF4D3C0D3. [Netdata image](https://hub.docker.com/r/netdata/netdata) compiled with ACLK support, that is why you see `SIGN IN TO CLOUT` button.

ACLK is [disabled by default](https://github.com/netdata/helmchart/blob/db228872b9bbf36426110a55860d71696cd350c1/charts/netdata/values.yaml#L303-L307).

[2021-07-06 09:15] andrew-buzzni commented on #223
Ooh thanks for reply, Ive misunderstood that. I thought that if I turn it off then sigin in or updates available button would be gone.

so what I was gonna do is to disable or to hide sign up button or ui like join community.

is it possible? maybe to do this, I need to make my own custom dashboard

[2021-07-06 09:17] 0xF4D3C0D3 commented on #223
@ilyam8
Ooh thanks for reply, Ive misunderstood that. I thought that if I turn it off then sign in or updates available button would be gone.

so what I was gonna do is to disable or to hide sign up button or ui like join community.

is it possible? maybe to do this, I need to make my own custom dashboard

[2021-07-06 09:53] ilyam8 commented on #223
Ok, I see you need to [explicitly disable cloud](https://github.com/netdata/netdata/blob/59af90b08c705a66bdca7551b43257781db47711/web/api/web_api_v1.c#L976-L977) to get off that button:
 - create `cloud.conf`
 - set enabled to no in the global section

[code]

You can add it by adding a section to the [`configs`](https://github.com/netdata/helmchart/blob/db228872b9bbf36426110a55860d71696cd350c1/ch

[2021-07-06 16:46] 0xF4D3C0D3 commented on #223
@ilyam8

it totally works. thanks very much. have a nice day! :)

[2021-07-06 16:46] #223 closed

[2021-07-09 10:57] ohthehugemanatee opened #224 "Incompatible with non-nginx ingress"
After a long discussion (and lots of help!) on [discord](https://discord.com/channels/847502280503590932/847812128428916746/862791752876425266) I've identified an incompatibility with ingress other than nginx.

In my case (running k3s with its default ingress, traefik), here's what happened:

- netdata.k8s.local was resolving correctly to the `cluster1` node, which also does ingress for me.
- BUT

[2021-07-09 11:03] ohthehugemanatee opened #225 "Cannot establish websocket to api.netdata.cloud without IPv6"
To reproduce:
- Boot a system with `ipv6.disable=1` on the kernel command line
- Install netdata and claim to the cloud
- Observe failure logs:
[code]

There are two possible changes we could make to address this:

1) Document IPv6 in the requirements section of the relevant docs, OR
2) Gracefully fall back to IPv4.

[2021-07-09 13:50] ilyam8 commented on #225
Issue moved to [netdata/netdata #11327](https://github.com/netdata/netdata/issues/11327) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-09 13:50] #225 closed

[2021-07-09 13:52] ilyam8 commented on #225
Hi, @ohthehugemanatee. We've discussed it internally, it is a Netdata Agent bug, I moved the issue to netdata repository.

[2021-07-31 12:20] 0xF4D3C0D3 opened #226 "parent vs child? I don't get it"
I thought 'The nodes that send metrics are called child nodes, and the nodes that receive metrics are called parent nodes.' according to [here](https://learn.netdata.cloud/docs/agent/streaming).

However the configs for them are as follows:
parent:
https://github.com/netdata/helmchart/blob/ee017b608ae989383b7e7a97aa51e50c18321e15/charts/netdata/values.yaml#L130-L150
child:
https://github.com/netda

[2021-08-02 08:16] ilyam8 commented on #226
Hi, @0xF4D3C0D3 👋

Netdata child is a [Daemonset](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/).

That means that there is a node with both parent and child instances running. That is why we want any **data collection to be disabled on the parent instance**.

[code]

[2021-08-02 08:43] 0xF4D3C0D3 commented on #226
Hi @ilyam8 ! thanks for reply!

your reply is the same what I thought it should be though, when I do like below, it didn't work :(

what I wanted to do was, as you said, disable all the collectors from parent
[code]

and then write child's config like this
[code]
so that only stuffs like cpu, overview etc can show.

However if I deploy like this, the dashboard is as follows:
![image](https://user-

[2021-08-02 08:58] ilyam8 commented on #226
@0xF4D3C0D3 you want:
 - **disable all** collectors on the parent instance
 - **enable only** `proc` collector on children instances

Is that is the case?

[2021-08-02 09:44] 0xF4D3C0D3 commented on #226
@ilyam8 yeah exactly.

iiuc, the responsibility for collecting metrics is on child, for showing metrics is on parent..? thus, I think parent should disable all its collectors so that it should do only its job, showing metrics.

sorry for verbosity due to my poor English, so the point is, yes this is the case

[2021-08-02 10:36] ilyam8 commented on #226
That is the default configuration. You need no additional changes (assuming you want all data collectors enabled on children instances, not only `proc.plguin`).

Keep in mind that in order to see a child instance metrics you need to switch to the instance using the "Replicated Nodes" menu.

<img width="1433" alt="Screenshot 2021-08-02 at 13 36 37" src="https://user-images.githubusercontent.com/222

[2021-08-02 12:04] 0xF4D3C0D3 commented on #226
@ilyam8 umm.. maybe the problem is caused by my replicated nodes, I guess.

Because even though it looks like I configured correctly, as you saw, there are no metrics on dashboard in spite of enabled proc plugin in child config.

![image](https://user-images.githubusercontent.com/19762154/127857953-fc30846a-d0be-47f2-b44f-c631b7e0e330.png)

and the above one is child's as you can see the subpath f

[2021-08-02 12:23] 0xF4D3C0D3 commented on #226
Ah I remember. I deployed netdata helm on single EC2 instance without any loadbalancer. So I edited values.yaml to disable ingress and add hostNetwork to deployment.yaml and externalIP to service.yaml.

maybe it's the cause..? then what should I do to deploy helm netdata on single EC2 instance without loadbalancer?

[code]

[2021-08-02 12:25] 0xF4D3C0D3 commented on #226
Ah I remember. I deployed netdata helm on single EC2 instance without any loadbalancer. So I edited values.yaml to disable ingress and add hostNetwork to deployment.yaml and externalIP to service.yaml.

maybe it's the cause..? then what should I do to deploy helm netdata on single EC2 instance without loadbalancer?

[code]

[2021-08-02 12:25] ilyam8 commented on #226
@0xF4D3C0D3 perhaps the problem is equal hostnames for both the parent and the child instance. That is why when you access `host/host-1` you get the parent metrics 🤔

[2021-08-02 12:28] 0xF4D3C0D3 commented on #226
I have only one instance so the parent and child pod are on the same node. in addition, I edited some templates as above so that I can deploy helm netdata on single EC2 instance without loadbalancer. If it's the cause, what should I do instead..?

[2021-08-02 12:38] ilyam8 commented on #226
So you have the same hostname for both instances. Can you

- `kubectl exec PARENT_POD -- cat /etc/hostname`
- `kubectl exec CHILD_POD -c netdata  -- cat /etc/hostname`

[2021-08-02 12:41] 0xF4D3C0D3 commented on #226
[code]
yay! the progress.

002d2578-dcb6-11eb-a68a-0aebf968c7ca is my child's GUID.
and then voila!
![image](https://user-images.githubusercontent.com/19762154/127863042-931c269a-04ef-4ebc-812c-3876b870abcf.png)

if access child's dashboard with its GUID the dashboard is fine :D.

but it doesn't mean the problem is gone..

and the hostnames are as follows:
[code]

[2021-08-02 12:43] 0xF4D3C0D3 commented on #226
but according to [here](https://stackoverflow.com/questions/49859408/is-it-possible-to-set-hostname-to-pod-when-using-hostnetwork-in-kubernetes)

I can't change pod's hostname while using hostNetwork :(

do you know the way to deploy helm netdata without loadbalancer and hostNetwork..?

[2021-08-02 13:27] 0xF4D3C0D3 commented on #226
First of all, I really appreciate you @ilyam8

you made my day! :D

![image](https://user-images.githubusercontent.com/19762154/127869028-02c355a9-e17b-42d4-affc-ce1eba8d8d8a.png)

I had to add hostNetwork to only deployment.yaml for parent not with damonset.yaml for child.
so I got rid of it from daemonset.yaml and tada

the child node has hostname as its pod name so the issue is gone!

really re

[2021-08-02 13:27] #226 closed

[2021-08-02 13:28] ilyam8 commented on #226
It is nice you got if working 🎉

[2021-09-01 11:41] knatsakis commented on #81
Fixed in #227

[2021-09-01 11:41] #81 closed

[2021-09-14 16:42] cakrit opened #229 "Memory modes in parent and child should be changed"
in values.yaml:

Parent config netdata should be changed to `memory mode = dbengine`
It was originally set to `save` because the dbengine wasn't mature back in 2019.

Child config netdata should be changed `memory mode = ram`.
It was originally set to `none` because the parent is the only one we're supposed to be accessing via the UI. But since the cloud has for a while required child nodes to be

[2021-09-15 12:49] cakrit commented on #229
Resolved in PR #230

[2021-09-15 13:42] #229 closed

[2021-09-26 12:28] zzvara opened #231 "How to install and enable plugins?"
Using chart of version `3.6.14`, I can see that `/usr/libexec/netdata/plugins.d/fping.plugin install` must be ran in each child in order to at least install the `fping` when one would like to use it. I also checked and could not find a way to ask Netdata child to install these plugins. Do I have to  provide by own Netdata child image in the Helm chart if I want to use plugins? Or is there a Netdat

[2021-10-01 09:15] M4itee commented on #32
as it is now, ingress is optional, service type is also configurable. Closing

[2021-10-01 09:15] #32 closed

[2021-10-01 10:33] M4itee commented on #90
From one hand it looks like it was solved some while ago ref #123 but on the other @data-dude is still having some troubles. I will try to replicate the issue before making any decisions on the issue's status :)
Of course if you have any other updates please let me know.

[2021-10-04 13:27] data-dude commented on #90
@M4itee I've had problems with RabbitMQ, Elastic and Netdata with Gluster.  For high write apps Gluster doesn't seem to work well.  So there may be no issue with Gluster.  I'm running Netdata on local storage now and that seems to work fine.  We may be replacing Gluster with Ceph and I'll try that out and let you know what I find.

[2021-10-04 13:55] M4itee commented on #90
Alright, thanks for info @data-dude . It might help us in a future as well!
I have to close this issue for obvious reasons but when you'll switch to ceph I'll be more than glad to hear about it, and the difference in performance too :) mat_at_netdata.cloud is how you can let me know.

[2021-10-04 13:55] #90 closed

[2021-10-04 14:39] data-dude commented on #90
@M4itee   OK Thanks

[2021-10-06 09:13] knatsakis commented on #231
Hello @zzvara!

Chart v3.6.14 uses netdata/netdata:v1.31.0. I can see that this includes `fping` under `/usr/local/bin`. So, I believe the `fping` plugin should be working out of the box.

Perhaps there is some issue elsewhere?

You could do this, but you probably shouldn't need to. The default image contains a reasonable default list of plugins pre-installed.

[2021-10-06 09:28] ilyam8 commented on #231
@knatsakis is correct, we **have** "fping" [installed in our base image](https://github.com/netdata/helper-images/blob/10f812f262e8db438a0b10dc36b7f24f7f527a0a/base/Dockerfile#L14-L15).

Where does it come from? Can you give a link to the doc/readme section?

[2021-10-06 11:25] ilyam8 commented on #95
Fixed in #234, both those options are configurable now.

[2021-10-06 11:25] #95 closed

[2021-10-15 12:57] M4itee commented on #136
I checked few images, few clusters, few versions of our app - limits are set correctly. @fzyzcjy Do you still have a problem with that?

[2021-10-18 06:51] #114 closed

[2021-10-20 09:33] M4itee commented on #191
I'm closing the issue because this topic is ongoing here: https://community.netdata.cloud/t/cannot-read-disk-space-usage-metrics-wrong-metrics-inside-docker-kubernetes-environment-important-because-we-should-alert-when-disks-become-full/907/21

it does not makes any sense to have a double here, especially as community's version of it is much more active.

[2021-10-29 19:50] M4itee commented on #148
@ilyam8 could you please test the app with the settings in the PR #239 ?

[2021-11-04 22:43] M4itee commented on #224
First of all thanks @ohthehugemanatee  for creating the issue because this is actually quite important thing you mentioned here.

Warning here - this is not going to be a quick reply. I would also like to make a discussion out if it, meaning that I would like to hear some of your thoughts about what I will write in next… thousand lines or something :) have your ☕ ? let's go!

I have to mention tha

[2021-11-10 11:31] M4itee commented on #224
@ohthehugemanatee can you comment on what I wrote?

[2021-11-17 10:38] M4itee commented on #148
due to #239  and #242 being merged - closing

[2021-11-17 10:38] #148 closed

[2021-11-17 13:12] M4itee commented on #224
closing after #244 was merged

[2021-11-17 13:12] #224 closed

[2021-11-30 11:05] andreyshestakov opened #245 "Wrong directory owner when mount persistent volume"
When persistence storage for database and alarms enabled, netdata container fails with following errors:

`2021-11-30 10:46:04: netdata FATAL : MAIN : Cannot create directory '/var/lib/netdata/registry'. # : Invalid argument`

[code]

Directories `/var/lib/netdata` and `/var/cache/netdata` where attached volumes are owned by root.

Following workarounds works for me:
Change owner of directories:
`

[2021-12-14 22:02] withinboredom opened #249 "how to enable chrony collector?"
I'm trying to enable the [chrony](https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/chrony/README.md) plugin via config maps. I was wondering if there is any documentation on how to do that?

[2022-01-05 09:09] M4itee commented on #245
Hey, what kind of the storage are you both using?

[2022-01-13 10:59] M4itee commented on #245
is it still an issue? @garrmark @andreyshestakov

[2022-01-18 07:30] M4itee commented on #245
Closing due to lack of answer

[2022-01-18 07:30] #245 closed

[2022-01-27 09:38] ilyam8 commented on #249
Hi, @withinboredom. Chrony python collector uses [chronyc ](https://linux.die.net/man/1/chronyc) to gather metrics. I think that binary is not accessible from inside the Netdata container => python implementation doesn't work in k8s.

A quick google showed that there is [Native Go implementation of Chrony communication protocol v6](https://pkg.go.dev/github.com/facebookincubator/ntp/protocol/chron

[2022-02-08 09:46] #249 closed

[2022-02-24 16:16] cakrit opened #257 "Helm chart shows up with serious security issues"
![image](https://user-images.githubusercontent.com/43294513/155563602-5975993c-d75f-470b-b8b2-c7b40ca7bb3b.png)

[2022-03-01 21:20] ilyam8 commented on #257
The number of vulnerabilities has been decreased: 28 => 6.

[2022-03-23 09:44] kedare opened #262 "How to check for disk space on the parent pod ?"
Hello

I was trying to check for the disk space on the database volume of the parent pod, apparently there something preventing from running exec on this pod, any idea of what it can be ? I could not get any command or shell to pass correctly

[code]

Thanks

[2022-03-23 13:00] kedare commented on #262
OK nothing, the node was in a inconsistent state apparently, recycled it to a new one and it's now working fine :)
Sorry for the noise

[2022-03-23 13:00] #262 closed

[2022-03-24 19:29] cakrit opened #263 "User reporting Netdata constantly crashing in Kubernetes"
I will send this link to the user who just told me that they can't use Netdata in Kubernetes, as the pods keeps crashing, so he can provide additional details.

[2022-03-24 19:37] ilyam8 commented on #263
Fixed in https://github.com/netdata/netdata/pull/12512. Will be in today's nightlies.

[2022-03-24 19:54] ilyam8 commented on #263
Closing the issue, because it is fixed and not really k8s related.

[2022-03-24 19:54] #263 closed

[2022-05-16 08:35] rerime opened #277 "Please support imagePullSecrets in values.yml"
Please support imagePullSecrets in values.yml
Need for our privare repository

[2022-05-16 17:24] #277 closed

[2022-05-17 11:22] rerime commented on #277
Incredible! Thanks!

[2022-05-17 11:40] rerime commented on #277
@ilyam8
Found some bug... Options
`--set image.repository`
`--set imagePullSecrets`
do not change initContainers
[code]
May be for init use existing netdata or sd image.

[2022-05-17 13:53] rerime opened #279 "Please clarify how to collect metrics from RabbitMQ with auth"
Hi!
Just installed netdata. I want to collect queue information from RabbitMQ. As I understand it is auto enabled by sd if port and image name matches the pattern. Should I add `rabbitmq: yes` in modules conf? How to pass credentials for collector to auth in rabbit?

#### rabbitmq pod info
[code]

## Install:
[code]
## netdata-conf-parent
[code]
## netdata-conf-child
[code]
## netdata-child-sd-con

[2022-05-17 14:48] ilyam8 commented on #279
Hi, @rerime. How do you set credentials for RabbitMQ container?

[2022-05-17 15:08] rerime commented on #279
Via definitions.json
example:
‘’’
{
 "rabbit_version": "3.6.6",
 "users": [
  {
   "name": "user1",
   "password_hash": "pass1",
   "hashing_algorithm": "rabbit_password_hashing_sha256",
   "tags": ""
  },
  {
   "name": "adminuser",
   "password_hash": "adminpass",
   "hashing_algorithm": "rabbit_password_hashing_sha256",
   "tags": "administrator"
  }
 ],
 "vhosts": [
  {
   "name": "\/vhost1"

[2022-05-17 15:16] rerime commented on #279
Only as file, I can pass as env also if it helps netdata

[2022-05-19 10:16] ilyam8 commented on #279
@rerime yes, it doesn't work right now. We need to agree on env var names and I will update https://github.com/netdata/helmchart/blob/master/charts/netdata/sdconfig/child.yml

I think we need generic names we could use for all applications that support user/pass auth.

[2022-05-19 10:51] rerime commented on #279
@ilyam8 Thx for update!

[2022-05-19 10:57] ilyam8 commented on #279
@rerime can you test https://github.com/netdata/helmchart/pull/280?

- `NETDATA_SD_AUTH_USER` env var value is used as username for HTTP basic auth.
- `NETDATA_SD_AUTH_PASS` env var value is used as password for HTTP basic auth.

[2022-05-19 11:29] rerime commented on #279
@ilyam8
Works like a charm)
I've added:
[code]

[2022-05-19 11:44] ilyam8 commented on #279
Secrets are basically ConfigMaps with encoded values, using them to store sensitive info is not secure in general.

Using this method is an option, I think it is acceptable. If there are better ways we can add them.

[2022-05-19 12:08] ilyam8 commented on #279
Great, I will:

- update other collectors' jobs to use those variables.
- update documentation.

[2022-05-19 12:15] rerime commented on #279
@ilyam8  Off topic... whats about redis module in sd config? Should I create another issue?

[2022-05-19 12:38] ilyam8 commented on #279
Ahh, the config has no Redis. Actually nice things you mention the problem, I will add it and you will help with testing 😄

If we go with the current approach of identifying applications that is guessing by the image name... Can you share the image name of your Redis container?

[2022-05-19 14:10] rerime commented on #279
I've added:
[code]
and in `netdata-child-sd-config-map`
[code]

No success.

[2022-05-19 14:21] ilyam8 commented on #279
Try

[code]

- `address` string format is https://github.com/netdata/go.d.plugin/tree/master/modules/redis#configuration
- service discovery available fields we can use is https://github.com/netdata/agent-service-discovery#pod-role

[2022-05-19 15:01] rerime commented on #279
Thx, it working, but without single quotes ;)
[code]

[2022-05-20 13:43] rerime commented on #279
@ilyam8 Will wait merge and make PR.
I guess #280 should be expanded to all http basic auth modules.

[2022-05-20 15:36] ilyam8 commented on #279
I think all that support user/pass authentication - I gave a generic name to those env var on purpose.

[2022-07-05 14:00] #257 closed

[2022-09-15 04:54] tsunamaru opened #306 "Disable netdata-parent"
Hello!

Is it possible to disable `netdata-parent` deployment? Is seems that in values.yaml `enabled` field (like in child and k8sstate) is ignored. Currently I do `k scale --replicas=0 deployment netdata-parent` every time I apply chart, but that is super inconvenient.

(context: I'm scraping metrics directly from `netdata-child` pods and thus I don't need `netdata-parent` deployment)

Thanks!

[2022-09-15 08:40] ilyam8 commented on #306
Hi, @tsunamaru. Added the option (parent.enabled) in #307.

[2022-09-19 10:27] #306 closed

[2022-09-22 15:42] cakrit opened #309 "Provide instructions on how to run with a parent outside the k8s cluster"
We have seen the need to have the parent outside the cluster and are doing it ourselves. We need to be explicit about this being a very valid option and explaining which settings will allow this to happen.

[2022-09-23 18:53] ilyam8 commented on #309
Our setup is children->in-cluster parent-> outside-cluster parent.

Another option is children -> outside-cluster parent (no in-cluster).

Do we need both or both? In any case, it is not just an option (instruction) but should be implemented.

[2022-09-28 16:27] cakrit commented on #309
children->in-cluster parent-> outside-cluster parent can work very well, but we'll then probably need to say how to configure the in-cluster parent to ensure it uses very limited resources. Does the in-cluster parent still need persistent storage in our setup, in order to prevent data loss?

[2022-09-28 16:40] ilyam8 commented on #309
@cakrit

- We use the outside-cluster parent because it is easier to debug/catch problems (crashdump), and easier to run a custom branch (better for developing).
- We use the in-cluster parent because (from what I heard) it is the default we suggest to use so we need to use it ourselves.

---

Yes.

Our in-cluster parent is [opposite to it](https://github.com/netdata/infra/blob/869ccde3441409f0c6b

[2022-10-08 15:13] vitabaks opened #314 "How to add PostgreSQL monitoring in the Kubernetes cluster"
we have [installed](https://learn.netdata.cloud/docs/agent/packaging/installer/methods/kubernetes?q=kubernetes&size=n_20_n#install-the-netdata-helm-chart) netdata in our Kubernetes cluster.

Please tell me how to add PostgreSQL monitoring which is located in the Kubernetes cluster?